In [1]:
import pandas as pd
import numpy as np
from InOutput import InOutput
import xgboost
xgboost.__version__

'1.0.2'

In [8]:
test = InOutput()

In [21]:
type(test.handle_instructions("get_shortterm_mortality_rate","003141716a352935ab39e2ec8f2401f0"))

numpy.float32

In [4]:
for patient in test_patients:
    id = patient.get_id()
    print(id)
    print(test.handle_instructions('get_personal_info',id))
    print(test.handle_instructions('get_icd_category_growth_trend',id))
    print(test.handle_instructions('get_personal_inpatient_cycle',id))
    print(test.handle_instructions('get_shortterm_mortality_rate',id))
    print(test.handle_instructions('same_patient_survive_time_mean',id))
    print(test.handle_instructions('same_patient_after_confirm_disease_value_counts',id))
print(test.handle_instructions('get_average_of_all_the_patients_cycles',id))

0007613eee440aa3145f09e1dfd0865b
                                 id gender  birthdate
0  0007613eee440aa3145f09e1dfd0865b      M 1968-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 560, 560, 1375, 0, 0, 0, 0,...
0.123416506
2008.3030303030303
     disease  times
0        410     99
2        414     86
1        428     86
3        401     75
4        786     67
..       ...    ...
328      421      1
327      441      1
326      447      1
325      471      1
411        8      1

[412 rows x 2 columns]
002b2cd6ed1d3adaf529a8b051801051
                                 id gender  birthdate
0  002b2cd6ed1d3adaf529a8b051801051      F 1935-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
None
0.38994336
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0030e804d2d6bf93d1c14c1ef9bda1a1
                                 id gender  birthdate
0  0030e804d2d6bf93d1c14c1ef9bda1a1      F 1941-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
None
0.214715
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
003141716a352935ab39e2ec8f2401f0
                                 id gender  birthdate
0  003141716a352935ab39e2ec8f2401f0      M 1926-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 337...
0.40106428
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
003383acfc919be39bd46184d21009e2
                                 id gender  birthdate
0  003383acfc919be39bd46184d21009e2      F 1948-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 4651, 4651, 4651, ...
0.7546027
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
004ba861fd7723cf56a7bce5e5f4893e
                                 id gender  birthdate
0  004ba861fd7723cf56a7bce5e5f4893e      F 1931-03-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 184...
0.50036186
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0055cb2531ceeabfe288d814e25094fb
                                 id gender  birthdate
0  0055cb2531ceeabfe288d814e25094fb      F 1943-03-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4597, 4597, 459...
0.34195137
1304.7826086956522
     disease  times
0        410     50
1        428     43
2        414     40
3        401     35
4        780     33
..       ...    ...
233      255      1
232      246      1
231      244      1
230      197      1
327      999      1

[328 rows x 2 columns]
006e20f75bfdd0eebc5ac94934fad7b3
                                 id gender  birthdate
0  006e20f75bfdd0eebc5ac94934fad7b3      F 1958-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1482, 195, 81, 0, ...
0.5103933
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
006fbe3f925c3eb8a12be177abd3442b
                                 id gender  birthdate
0  006fbe3f925c3eb8a12be177abd3442b      F 1931-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1898, ...
0.63778543
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
00829923571c061994710f679830fa3c
                                 id gender  birthdate
0  00829923571c061994710f679830fa3c      M 1953-09-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 843, 152, 115, 63,...
0.24402042
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0087100d2ceec544624492c5704bcda0
                                 id gender  birthdate
0  0087100d2ceec544624492c5704bcda0      M 1931-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1197, ...

0.0050335336
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
00b069809a660b6842304447a20d6de7
                                 id gender  birthdate
0  00b069809a660b6842304447a20d6de7      M 1931-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 162, 1...
0.47846866
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
00cda815ec7746793f7d9106fd928733
                                 id gender  birthdate
0  00cda815ec7746793f7d9106fd928733      F 1922-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
0.38708588
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
00d0eef04074d1adbfefc4fe06763d75
                                 id gender  birthdate
0  00d0eef04074d1adbfefc4fe06763d75      M 1951-03-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1725, 2385, 2385, ...
0.895729
2263.5714285714284
     disease  times
0        410     65
1        414     64
2        428     55
3        401     51
4        786     48
..       ...    ...
298      474      1
297      415      1
296      905      1
295      198      1
376      997      1

[377 rows x 2 columns]
00e69ab6b36657b5e92f705234e3f038
                                 id gender  birthdate
0  00e69ab6b36657b5e92f705234e3f038      M 1937-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 489, 1188, 1...
0.008786349
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
00ecf588b61e4afdc2c2913de253c900
                                 id gender  birthdate
0  00ecf588b61e4afdc2c2913de253c900      F 1938-01-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5391, 539...
0.70181024
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0103430ff3f022ea538c4161d0474d0c
                                 id gender  birthdate
0  0103430ff3f022ea538c4161d0474d0c      M 1932-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
0.015161933
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
0104970c0db2c2b03b193438c09b3b8c
                                 id gender  birthdate
0  0104970c0db2c2b03b193438c09b3b8c      F 1925-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
0.7272934
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
012ed0d0870bd1c6cf6b487b8dab265e
                                 id gender  birthdate
0  012ed0d0870bd1c6cf6b487b8dab265e      M 1924-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 128...
0.7260127
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
013f84a811803f329922efc36f7e0e4e
                                 id gender  birthdate
0  013f84a811803f329922efc36f7e0e4e      M 1926-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 169...
0.010548424
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
015b8ac98a1019c00a3d16d2db53bb42
                                 id gender  birthdate
0  015b8ac98a1019c00a3d16d2db53bb42      M 1937-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1086, ...

0.6414025
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
016ffb0b85881f1438623113a5cd9b8a
                                 id gender  birthdate
0  016ffb0b85881f1438623113a5cd9b8a      M 1951-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 260, 334, 0,...
0.0048299003
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
018403dc0f56ac3744f3f7667f4f09a1
                                 id gender  birthdate
0  018403dc0f56ac3744f3f7667f4f09a1      F 1922-04-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 303...
0.39822713
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
018cc78fa7ec5e5984a412fbf812204a
                                 id gender  birthdate
0  018cc78fa7ec5e5984a412fbf812204a      M 1923-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
0.34047708
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0198dd794ebc1d57227f59fcda704c14
                                 id gender  birthdate
0  0198dd794ebc1d57227f59fcda704c14      M 1953-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 257, 91, 0, ...
0.22026733
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
019ca9b7aed22b13eb5ef13d8eb4003f
                                 id gender  birthdate
0  019ca9b7aed22b13eb5ef13d8eb4003f      F 1955-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 874, 798, 458, 0, ...
0.4491482
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
01a026c3e1d3a6137817b885235cd0a3
                                 id gender  birthdate
0  01a026c3e1d3a6137817b885235cd0a3      M 1950-04-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 502, 780, 212, ...
0.53232735
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
01b9ba38c9d842c5b13eef6a1eff2245
                                 id gender  birthdate
0  01b9ba38c9d842c5b13eef6a1eff2245      M 1945-09-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1940, 1940, 722...
0.041660372
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
01f2e2d8f2911bf602f9f4446f79861d
                                 id gender  birthdate
0  01f2e2d8f2911bf602f9f4446f79861d      F 1926-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
None
0.6380819
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
01f8630e4127733df9c9632b3bafe28b
                                 id gender  birthdate
0  01f8630e4127733df9c9632b3bafe28b      M 1927-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 574...
0.12046199
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
01fa979a307556cce797468c38229355
                                 id gender  birthdate
0  01fa979a307556cce797468c38229355      F 1951-02-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 530, 1438, 0, 0...

0.9774654
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
021d21ae8d51eef01cf587d99eac6b52
                                 id gender  birthdate
0  021d21ae8d51eef01cf587d99eac6b52      F 1927-04-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
0.053734917
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
021fe60e8404e6cba47bc736ede834bb
                                 id gender  birthdate
0  021fe60e8404e6cba47bc736ede834bb      F 1960-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 288, 0, 0, 0, 0...
0.10685952
1357.3333333333333

KeyboardInterrupt:

In [25]:
id = "003141716a352935ab39e2ec8f2401f0"

In [26]:
test.handle_instructions('get_personal_info',id)

                                 id gender  birthdate
0  003141716a352935ab39e2ec8f2401f0      M 1926-12-01

In [27]:
test.handle_instructions('get_icd_category_growth_trend',id)

,x,y
0,"[1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [28]:
test.handle_instructions('get_average_of_all_the_patients_cycles',id)

,x,y
0,"[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...","[0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ..."

In [29]:
test.handle_instructions('get_shortterm_mortality_rate',id)

0.40106428

In [30]:
test.handle_instructions('same_patient_survive_time_mean',id)

1357.3333333333333

In [31]:
test.handle_instructions('same_patient_after_confirm_disease_value_counts',id)

     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]

In [32]:
test.handle_instructions('get_personal_inpatient_cycle',id)

,x,y
0,"[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 337..."

In [2]:
from Adapter import Adapter
io = InOutput()
df_json_adapter = Adapter(io)

In [5]:
"get_personal_info"
"get_icd_category_growth_trend"
"get_personal_inpatient_cycle"
"get_average_of_all_the_patients_cycles"
"get_shortterm_mortality_rate"
"same_patient_survive_time_mean"
"same_patient_after_confirm_disease_value_counts"

'same_patient_after_confirm_disease_value_counts'

In [3]:

str(df_json_adapter.handle_instructions("same_patient_survive_time_mean","003141716a352935ab39e2ec8f2401f0"))

'{"same_patient_survive_time_mean": 1357.3333333333333}'