In [1]:
from InOutput import InOutput

In [2]:
test = InOutput()

In [3]:
test_patients = test.handle_instructions('a',id).iter_patient_list()

In [8]:
for patient in test_patients:
    id = patient.get_id()
    print(id)
    print(test.handle_instructions('get_personal_info',id))
    print(test.handle_instructions('get_icd_category_growth_trend',id))
    print(test.handle_instructions('get_personal_inpatient_cycle',id))
    print(test.handle_instructions('get_shortterm_mortality_rate',id))
    print(test.handle_instructions('same_patient_survive_time_mean',id))
    print(test.handle_instructions('same_patient_after_confirm_disease_value_counts',id))
print(test.handle_instructions('get_average_of_all_the_patients_cycles',id))

0007613eee440aa3145f09e1dfd0865b
0    [0, 0, 0, 0, 0, 0, 560, 560, 1375, 0, 0, 0, 0,...
Name: y, dtype: object
002b2cd6ed1d3adaf529a8b051801051
0030e804d2d6bf93d1c14c1ef9bda1a1
003141716a352935ab39e2ec8f2401f0
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 337...
Name: y, dtype: object
003383acfc919be39bd46184d21009e2
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 4651, 4651, 4651, ...
Name: y, dtype: object
004ba861fd7723cf56a7bce5e5f4893e
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 184...
Name: y, dtype: object
0055cb2531ceeabfe288d814e25094fb
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4597, 4597, 459...
Name: y, dtype: object
006e20f75bfdd0eebc5ac94934fad7b3
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 1482, 195, 81, 0, ...
Name: y, dtype: object
006fbe3f925c3eb8a12be177abd3442b
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1898, ...
Name: y, dtype: object
00829923571c061994710f679830fa3c
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 843, 152, 115, 63,...
Name: y, dtype: object
0087100d2ceec544624492c5704bcda0
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1197, ...
Name: y, dtype: object
00b069809a660b6842304447a20d6de7
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 162, 1...
Name: y, dtype: object
00cda815ec7746793f7d9106fd928733
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
00d0eef04074d1adbfefc4fe06763d75
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 1725, 2385, 2385, ...
Name: y, dtype: object
00e69ab6b36657b5e92f705234e3f038
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 489, 1188, 1...
Name: y, dtype: object
00ecf588b61e4afdc2c2913de253c900
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5391, 539...
Name: y, dtype: object
0103430ff3f022ea538c4161d0474d0c
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
0104970c0db2c2b03b193438c09b3b8c
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
012ed0d0870bd1c6cf6b487b8dab265e
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 128...
Name: y, dtype: object
013f84a811803f329922efc36f7e0e4e
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 169...
Name: y, dtype: object
015b8ac98a1019c00a3d16d2db53bb42
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1086, ...
Name: y, dtype: object
016ffb0b85881f1438623113a5cd9b8a
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 260, 334, 0,...
Name: y, dtype: object
018403dc0f56ac3744f3f7667f4f09a1
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 303...
Name: y, dtype: object
018cc78fa7ec5e5984a412fbf812204a
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
0198dd794ebc1d57227f59fcda704c14
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 257, 91, 0, ...
Name: y, dtype: object
019ca9b7aed22b13eb5ef13d8eb4003f
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 874, 798, 458, 0, ...
Name: y, dtype: object
01a026c3e1d3a6137817b885235cd0a3
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 502, 780, 212, ...
Name: y, dtype: object
01b9ba38c9d842c5b13eef6a1eff2245
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1940, 1940, 722...
Name: y, dtype: object
01f2e2d8f2911bf602f9f4446f79861d
01f8630e4127733df9c9632b3bafe28b
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 574...
Name: y, dtype: object
01fa979a307556cce797468c38229355
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 530, 1438, 0, 0...
Name: y, dtype: object
021d21ae8d51eef01cf587d99eac6b52
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
021fe60e8404e6cba47bc736ede834bb
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 288, 0, 0, 0, 0...
Name: y, dtype: object
0223498a4a0e4c35cb96abb2fc55b066
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4320, 4320, 232...
Name: y, dtype: object
0225b88aa43b28dbe58bc8bcb91fea72
0    [0, 0, 0, 0, 0, 0, 0, 0, 1121, 1121, 3379, 0, ...
Name: y, dtype: object
022cf5dc0d0576e1891ea7122cc043dd
0    [0, 0, 0, 0, 2013, 1382, 637, 1254, 0, 0, 0, 0...
Name: y, dtype: object
023a9bdef25673dda3348fa8ae530694
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1339, 1242, ...
Name: y, dtype: object
02418440e213a6281f7515c6061738a9
0251d5008e7282679deed6294f97ea71
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 213...
Name: y, dtype: object
0277300e9a665e4f0436f0ff26f5ac60
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 109...
Name: y, dtype: object
0290d2b043e431269fbe7c1b7208eaf1
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 116...
Name: y, dtype: object
02956206ae11bb3e1c642d114e0fd23f
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
02a1b89706495bd2306d16f53b90d6b4
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 364, 6...
Name: y, dtype: object
02a7c46d22baf0391eedb8e3c189671b
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
02cf41e55b22a45bbd50134be09e3d36
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 981, 7...
Name: y, dtype: object
02d9c1df15c3134bdbe22b6d5c450775
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 4148, 4148, 2325, ...
Name: y, dtype: object
02e626db970dd07c17e94f6ebb088a3f
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 133...
Name: y, dtype: object
030489b42893daef4b40a7e8cde64c31
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 5073, 5073, 5073, ...
Name: y, dtype: object
0317db4822be1b92710d3cb334f82c74
0    [0, 0, 0, 0, 0, 0, 0, 0, 833, 1226, 779, 134, ...
Name: y, dtype: object
031f3aa97b8c162ace59eb64c3fa159d
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 939, 1712...
Name: y, dtype: object
032614e3a48cdb22fbe528a7b00fbb7a
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 245...
Name: y, dtype: object
0332d81968b91e131b587b7df1331e95
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 365, 0, 0...
Name: y, dtype: object
033488427af6cf99fe991f3bbce0b663
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 739, 1...
Name: y, dtype: object
0334dd8844734b804f50d728c8555bf5
0    [0, 0, 0, 0, 0, 0, 0, 1729, 1729, 1729, 5160, ...
Name: y, dtype: object
03407f1295fe6a916ed8c08189470f4a
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 140...
Name: y, dtype: object
034308417d698b2b6d38ca33a86d6061
0    [0, 0, 0, 0, 0, 0, 0, 0, 850, 1777, 0, 0, 0, 0...
Name: y, dtype: object
03819481be9558be5e66614700b060ec
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3442, 3442, 176...
Name: y, dtype: object
038395fd1764e28223c732f169e376e2
0    [0, 0, 0, 0, 0, 0, 0, 0, 593, 1828, 909, 378, ...
Name: y, dtype: object
038512ba6584df11185108f34cbdca35
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1593, 159...
Name: y, dtype: object
03a2fda5683915cac2911377face23c2
0    [0, 0, 0, 0, 0, 0, 676, 1342, 1530, 957, 1626,...
Name: y, dtype: object
03afaf47a10262682d8f7f5cf7862caf
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 477...
Name: y, dtype: object
03b84e78415de68f4d43215f00d2c4c2
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 241, 383,...
Name: y, dtype: object
041bc37fad0508b57fa50ca8302d036f
0    [0, 0, 0, 0, 0, 0, 600, 834, 1872, 0, 0, 0, 0,...
Name: y, dtype: object
041e45ef5b5051beb89f2502b009b37f
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1121, ...
Name: y, dtype: object
0427a8ee3ede18be25d75c1ee87acade
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 335, 467, 196, ...
Name: y, dtype: object
04295628b138fc6fc55ae2809653870e
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 66, 349, ...
Name: y, dtype: object
044454e5e2260693c39391399c6d92c6
045c81435d58da85e503f4e8216f0083
045e9bc49edc71780d8a280abe3bb985
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
0469d92040a797493b69531240ad8cfb
0    [0, 0, 0, 0, 0, 0, 0, 0, 219, 520, 693, 0, 0, ...
Name: y, dtype: object
0476103e8f70935257a1484bb3bbb983
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
04797a9bca4c3956cccbee66ea980341
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
04afe4caa0271a9e3ab4381c41aba076
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
04b13a422d0f81fb2f6117905d3fd978
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 392...
Name: y, dtype: object
04bdc1a169537efee12a4c243f9e1b7d
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2354, 161...
Name: y, dtype: object
04deaa23cfcbceff8c92979f6ff43c25
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 229, 382, 31...
Name: y, dtype: object
04f79d943a7ad2a9318fb462977fef8c
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3226, 3226, 676...
Name: y, dtype: object
051a60319982ffbf8cca85448a19aaae
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 327, 6...
Name: y, dtype: object
051fc206c52aef836c3a3f3771571add

0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 142...
Name: y, dtype: object
0532f65903dd63b702f53086a2dd8d7b
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 216...
Name: y, dtype: object
0534c29b619f0f1bba21cd078a39e3dc
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2879, 2879, 287...
Name: y, dtype: object
054c673bd6ed36c705986a3b4a45ae5b
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 587, 1...
Name: y, dtype: object
056d7c146cf680156e5da75f4013edb3
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 315, 4...
Name: y, dtype: object
0571c3f62e83ef1fe65bbf79e491a146
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
0575c2c3fe9baa565374cbbf0e6e96df
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1210, ...
Name: y, dtype: object
05a09d8fb08bcd11abae312648afc427
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 364, 9...
Name: y, dtype: object
05a2bbe6d1dba06a709685b5add4f62e
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 602, 133, 0,...
Name: y, dtype: object
05a5df8003582de7ec08fb715d8b04a0
05a7b110050fa0332ad33b489c9a26ab
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3092, 309...
Name: y, dtype: object
05babd24fc3f6232e432ecf312eacf0f
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
05d4b7f9c5dc14256ef3f2994eba6ed9
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 417, 726,...
Name: y, dtype: object
05f8b371db0aefff70ad7f0e59cb7867
0    [0, 0, 0, 0, 0, 0, 0, 0, 629, 814, 0, 0, 0, 0,...
Name: y, dtype: object
060aad723754a456191916186f2a9445
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 802, 739, 32...
Name: y, dtype: object
060d06ec58238a1bbc9c3ee6ed9a4d96
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 595, 0...
Name: y, dtype: object
06164bcb2d757f127052a4539513b161
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1798, 1717, ...
Name: y, dtype: object
0624b0c437ebdf4004eb857421932580
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1551, 0, ...
Name: y, dtype: object
0641f297e531824f1f2cf105d7dc7326
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
066d245efa2c608d3a462e7804df88df
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 319, 916,...
Name: y, dtype: object
067a0d8047686356d382106294098c88
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 172...
Name: y, dtype: object
06ab9e7c867adfb71cfa69adaaaf1108
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: y, dtype: object
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

In [5]:
id = '003141716a352935ab39e2ec8f2401f0'

In [6]:
test.handle_instructions('get_personal_info',id)

                                 id gender  birthdate
0  003141716a352935ab39e2ec8f2401f0      M 1926-12-01

In [7]:
test.handle_instructions('get_icd_category_growth_trend',id)

,x,y
0,"[1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [8]:
test.handle_instructions('get_average_of_all_the_patients_cycles',id)

,x,y
0,"[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...","[0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ..."

In [9]:
test.handle_instructions('get_shortterm_mortality_rate',id)

ModuleNotFoundError: No module named 'xgboost'

In [10]:
test.handle_instructions('same_patient_survive_time_mean',id)

1357.3333333333333

In [11]:
test.handle_instructions('same_patient_after_confirm_disease_value_counts',id)

     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]

In [10]:
test.handle_instructions('get_personal_inpatient_cycle',id)

,x,y
0,"[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."