In [3]:
from InOutput import InOutput

In [4]:
test = InOutput()

In [5]:
id = '0007613eee440aa3145f09e1dfd0865b'

In [6]:
test.get_quickly_death_possible(id)

0.123416506

In [7]:
test.get_icd_category_growth_trend(id)

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
x,1.0,366.0,731.0,1096.0,1461.0,1826.0,2191.0,2556.0,2921.0,3286.0,...,12776.0,13141.0,13506.0,13871.0,14236.0,14601.0,14966.0,15331.0,15696.0,16061.0
y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,30.0,32.0,32.0,33.0,33.0,35.0,38.0,51.0,55.0

In [8]:
test.get_personal_info(id)

                                 id gender  birthdate
0  0007613eee440aa3145f09e1dfd0865b      M 1968-07-01

In [9]:
test.get_same_patient_survive_time_mean(id)

1925.7777777777778

In [10]:
test.get_same_patient_after_confirm_disease_value_counts(id)

     disease  times
0        410     54
1        414     50
2        401     48
3        428     47
4        786     40
..       ...    ...
271      519      1
270      555      1
269      575      1
268      415      1
350        8      1

[351 rows x 2 columns]