In [1]:
from InOutput import InOutput

In [2]:
test = InOutput()

In [3]:
id = '0007613eee440aa3145f09e1dfd0865b'

In [4]:
test.get_quickly_death_possible(id)

0.123416506

In [5]:
test.get_icd_category_growth_trend(id)

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
x,1.0,366.0,731.0,1096.0,1461.0,1826.0,2191.0,2556.0,2921.0,3286.0,...,12776.0,13141.0,13506.0,13871.0,14236.0,14601.0,14966.0,15331.0,15696.0,16061.0
y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,30.0,32.0,32.0,33.0,33.0,35.0,38.0,51.0,55.0

In [6]:
test.get_personal_info(id)

                                 id gender  birthdate
0  0007613eee440aa3145f09e1dfd0865b      M 1968-07-01

In [4]:
test = InOutput()

In [5]:
patient = test._data_storage._patient_list[0]

In [6]:
patient.get_id()

'0007613eee440aa3145f09e1dfd0865b'

In [7]:
from ConfirmDatePatientVisitor import ConfirmDatePatientVisitor
confirmDatePatientVisitor = ConfirmDatePatientVisitor()
patient.accept_visitor(confirmDatePatientVisitor)
confirm_date = confirmDatePatientVisitor.getResult()
confirm_date

Timestamp('1998-09-07 00:00:00')

In [8]:
from AreaPatientVisitor import AreaPatientVisitor
areaPatientVisitor = AreaPatientVisitor()
patient.accept_visitor(areaPatientVisitor)
area = areaPatientVisitor.getResult()
area

'TaichungCity'

In [9]:
from CardPatientVisitor import CardPatientVisitor
cardPatientVisitor = CardPatientVisitor()
patient.accept_visitor(cardPatientVisitor)
position = cardPatientVisitor.getResult()
position

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
x,1.0,366.0,731.0,1096.0,1461.0,1826.0,2191.0,2556.0,2921.0,3286.0,...,12776.0,13141.0,13506.0,13871.0,14236.0,14601.0,14966.0,15331.0,15696.0,16061.0
y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,30.0,32.0,32.0,33.0,33.0,35.0,38.0,51.0,55.0

In [10]:
from ConfirmMonthPatientVisitor import ConfirmMonthPatientVisitor
confirmMonthPatientVisitor = ConfirmMonthPatientVisitor()
patient.accept_visitor(confirmMonthPatientVisitor)
month = confirmMonthPatientVisitor.getResult()
month

9

In [11]:
from ConfirmTypePatientVisitor import ConfirmTypePatientVisitor
confirmTypePatientVisitor = ConfirmTypePatientVisitor()
patient.accept_visitor(confirmTypePatientVisitor)
type = confirmTypePatientVisitor.getResult()
type

1

In [12]:
from ConfirmAgePatientVisitor import ConfirmAgePatientVisitor
confirmAgePatientVisitor = ConfirmAgePatientVisitor()
patient.accept_visitor(confirmAgePatientVisitor)
age = confirmAgePatientVisitor.getResult()
age

30.205479452054796

In [13]:
from HistoryTotalDotPatientVisitor import HistoryTotalDotPatientVisitor
historyTotalDotPatientVisitor = HistoryTotalDotPatientVisitor()
patient.accept_visitor(historyTotalDotPatientVisitor)
dot = historyTotalDotPatientVisitor.getResult()
dot

230151

In [14]:
from HistoryTypePatientVisitor import HistoryTypePatientVisitor
historyTypePatientVisitor = HistoryTypePatientVisitor()
patient.accept_visitor(historyTypePatientVisitor)
history_type = historyTypePatientVisitor.getResult()
history_type

  ou_times em_times in_times
0        0        1        0

In [15]:
from HistoryICDPatientVisitor import HistoryICDPatientVisitor
historyICDPatientVisitor = HistoryICDPatientVisitor()
patient.accept_visitor(historyICDPatientVisitor)
history_icd = historyICDPatientVisitor.getResult()
history_icd

Empty DataFrame
Columns: [410, 413]
Index: []

In [16]:
from HistoryMEPatientVisitor import HistoryMEPatientVisitor
historyMEPatientVisitor = HistoryMEPatientVisitor()
patient.accept_visitor(historyMEPatientVisitor)
history_me = historyMEPatientVisitor.getResult()
history_me

Empty DataFrame
Columns: [B017151229, A001085209, A034286100, N002816209, A005891209, A013382100, A029836277, B018198299, B016526248, B010095100, B018543221, A021743100, B020802100, A030396100, A024212277, B005896100, A029828100, B020932221, B008780100, B019425100, A003355212, A009250500, A037344100, A012824277, A032611100, B018961100, A020785216, B018847100, A032350221, B013848212, A010871277]
Index: []

[0 rows x 31 columns]

In [17]:
from QuicklyDeathPatientVisitor import QuicklyDeathPatientVisitor
quicklyDeathPatientVisitor = QuicklyDeathPatientVisitor()
patient.accept_visitor(quicklyDeathPatientVisitor)
death_posible = quicklyDeathPatientVisitor.getResult()
death_posible

0.123416506