In [33]:
from InOutput import InOutput

In [34]:
test = InOutput()

In [35]:
id = '003141716a352935ab39e2ec8f2401f0'

In [36]:
test.get_quickly_death_possible(id)

0.40106428

In [37]:
test.get_icd_category_growth_trend(id)

,x,y
0,"[1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [38]:
test.get_personal_info(id)

                                 id gender  birthdate
0  003141716a352935ab39e2ec8f2401f0      M 1926-12-01

In [39]:
test.get_same_patient_survive_time_mean(id)

1357.3333333333333

In [40]:
test.get_same_patient_after_confirm_disease_value_counts(id)

     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]