In [16]:
from InOutput import InOutput

In [17]:
test = InOutput()

In [18]:
test_patients = test.handle_instructions('a',id).iter_patient_list()

In [19]:
for patient in test_patients:
    id = patient.get_id()
    print(id)
    print(test.handle_instructions('get_personal_info',id))
    print(test.handle_instructions('get_icd_category_growth_trend',id))
    print(test.handle_instructions('get_average_of_all_the_patients_cycles',id))
    print(test.handle_instructions('get_shortterm_mortality_rate',id))
    print(test.handle_instructions('same_patient_survive_time_mean',id))
    print(test.handle_instructions('same_patient_after_confirm_disease_value_counts',id))

0007613eee440aa3145f09e1dfd0865b
                                 id gender  birthdate
0  0007613eee440aa3145f09e1dfd0865b      M 1968-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.123416506
2008.3030303030303
     disease  times
0        410     99
2        414     86
1        428     86
3        401     75
4        786     67
..       ...    ...
328      421      1
327      441      1
326      447      1
325      471      1
411        8      1

[412 rows x 2 columns]
002b2cd6ed1d3adaf529a8b051801051
                                 id gender  birthdate
0  002b2cd6ed1d3adaf529a8b051801051      F 1935-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.38994336
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0030e804d2d6bf93d1c14c1ef9bda1a1
                                 id gender  birthdate
0  0030e804d2d6bf93d1c14c1ef9bda1a1      F 1941-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.214715
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
003141716a352935ab39e2ec8f2401f0
                                 id gender  birthdate
0  003141716a352935ab39e2ec8f2401f0      M 1926-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.40106428
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
003383acfc919be39bd46184d21009e2
                                 id gender  birthdate
0  003383acfc919be39bd46184d21009e2      F 1948-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.7546027
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
004ba861fd7723cf56a7bce5e5f4893e
                                 id gender  birthdate
0  004ba861fd7723cf56a7bce5e5f4893e      F 1931-03-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.50036186
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0055cb2531ceeabfe288d814e25094fb
                                 id gender  birthdate
0  0055cb2531ceeabfe288d814e25094fb      F 1943-03-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.34195137
1304.7826086956522
     disease  times
0        410     50
1        428     43
2        414     40
3        401     35
4        780     33
..       ...    ...
233      255      1
232      246      1
231      244      1
230      197      1
327      999      1

[328 rows x 2 columns]
006e20f75bfdd0eebc5ac94934fad7b3
                                 id gender  birthdate
0  006e20f75bfdd0eebc5ac94934fad7b3      F 1958-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.5103933
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
006fbe3f925c3eb8a12be177abd3442b
                                 id gender  birthdate
0  006fbe3f925c3eb8a12be177abd3442b      F 1931-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.63778543
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
00829923571c061994710f679830fa3c
                                 id gender  birthdate
0  00829923571c061994710f679830fa3c      M 1953-09-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.24402042
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0087100d2ceec544624492c5704bcda0
                                 id gender  birthdate
0  0087100d2ceec544624492c5704bcda0      M 1931-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.0050335336
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
00b069809a660b6842304447a20d6de7
                                 id gender  birthdate
0  00b069809a660b6842304447a20d6de7      M 1931-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.47846866
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
00cda815ec7746793f7d9106fd928733
                                 id gender  birthdate
0  00cda815ec7746793f7d9106fd928733      F 1922-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.38708588
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
00d0eef04074d1adbfefc4fe06763d75
                                 id gender  birthdate
0  00d0eef04074d1adbfefc4fe06763d75      M 1951-03-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.895729
2263.5714285714284
     disease  times
0        410     65
1        414     64
2        428     55
3        401     51
4        786     48
..       ...    ...
298      474      1
297      415      1
296      905      1
295      198      1
376      997      1

[377 rows x 2 columns]
00e69ab6b36657b5e92f705234e3f038
                                 id gender  birthdate
0  00e69ab6b36657b5e92f705234e3f038      M 1937-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.008786349
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
00ecf588b61e4afdc2c2913de253c900
                                 id gender  birthdate
0  00ecf588b61e4afdc2c2913de253c900      F 1938-01-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.70181024
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0103430ff3f022ea538c4161d0474d0c
                                 id gender  birthdate
0  0103430ff3f022ea538c4161d0474d0c      M 1932-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.015161933
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
0104970c0db2c2b03b193438c09b3b8c
                                 id gender  birthdate
0  0104970c0db2c2b03b193438c09b3b8c      F 1925-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.7272934
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
012ed0d0870bd1c6cf6b487b8dab265e
                                 id gender  birthdate
0  012ed0d0870bd1c6cf6b487b8dab265e      M 1924-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.7260127
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
013f84a811803f329922efc36f7e0e4e
                                 id gender  birthdate
0  013f84a811803f329922efc36f7e0e4e      M 1926-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.010548424
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
015b8ac98a1019c00a3d16d2db53bb42
                                 id gender  birthdate
0  015b8ac98a1019c00a3d16d2db53bb42      M 1937-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.6414025
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
016ffb0b85881f1438623113a5cd9b8a
                                 id gender  birthdate
0  016ffb0b85881f1438623113a5cd9b8a      M 1951-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.0048299003
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
018403dc0f56ac3744f3f7667f4f09a1
                                 id gender  birthdate
0  018403dc0f56ac3744f3f7667f4f09a1      F 1922-04-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.39822713
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
018cc78fa7ec5e5984a412fbf812204a
                                 id gender  birthdate
0  018cc78fa7ec5e5984a412fbf812204a      M 1923-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.34047708
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0198dd794ebc1d57227f59fcda704c14
                                 id gender  birthdate
0  0198dd794ebc1d57227f59fcda704c14      M 1953-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.22026733
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
019ca9b7aed22b13eb5ef13d8eb4003f
                                 id gender  birthdate
0  019ca9b7aed22b13eb5ef13d8eb4003f      F 1955-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.4491482
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
01a026c3e1d3a6137817b885235cd0a3
                                 id gender  birthdate
0  01a026c3e1d3a6137817b885235cd0a3      M 1950-04-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.53232735
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
01b9ba38c9d842c5b13eef6a1eff2245
                                 id gender  birthdate
0  01b9ba38c9d842c5b13eef6a1eff2245      M 1945-09-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.041660372
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
01f2e2d8f2911bf602f9f4446f79861d
                                 id gender  birthdate
0  01f2e2d8f2911bf602f9f4446f79861d      F 1926-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.6380819
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
01f8630e4127733df9c9632b3bafe28b
                                 id gender  birthdate
0  01f8630e4127733df9c9632b3bafe28b      M 1927-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.12046199
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
01fa979a307556cce797468c38229355
                                 id gender  birthdate
0  01fa979a307556cce797468c38229355      F 1951-02-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.9774654
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
021d21ae8d51eef01cf587d99eac6b52
                                 id gender  birthdate
0  021d21ae8d51eef01cf587d99eac6b52      F 1927-04-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.053734917
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
021fe60e8404e6cba47bc736ede834bb
                                 id gender  birthdate
0  021fe60e8404e6cba47bc736ede834bb      F 1960-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.10685952
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
0223498a4a0e4c35cb96abb2fc55b066
                                 id gender  birthdate
0  0223498a4a0e4c35cb96abb2fc55b066      F 1947-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.3953612
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0225b88aa43b28dbe58bc8bcb91fea72
                                 id gender  birthdate
0  0225b88aa43b28dbe58bc8bcb91fea72      F 1958-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.27872914
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
022cf5dc0d0576e1891ea7122cc043dd
                                 id gender  birthdate
0  022cf5dc0d0576e1891ea7122cc043dd      M 1975-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.08810128
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
023a9bdef25673dda3348fa8ae530694
                                 id gender  birthdate
0  023a9bdef25673dda3348fa8ae530694      M 1941-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.30368346
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
02418440e213a6281f7515c6061738a9
                                 id gender  birthdate
0  02418440e213a6281f7515c6061738a9      F 1968-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.09994325
2263.5714285714284
     disease  times
0        410     65
1        414     64
2        428     55
3        401     51
4        786     48
..       ...    ...
298      474      1
297      415      1
296      905      1
295      198      1
376      997      1

[377 rows x 2 columns]
0251d5008e7282679deed6294f97ea71
                                 id gender  birthdate
0  0251d5008e7282679deed6294f97ea71      M 1926-09-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.22433028
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
0277300e9a665e4f0436f0ff26f5ac60
                                 id gender  birthdate
0  0277300e9a665e4f0436f0ff26f5ac60      F 1922-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.012702288
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0290d2b043e431269fbe7c1b7208eaf1
                                 id gender  birthdate
0  0290d2b043e431269fbe7c1b7208eaf1      M 1927-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.24745329
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
02956206ae11bb3e1c642d114e0fd23f
                                 id gender  birthdate
0  02956206ae11bb3e1c642d114e0fd23f      F 1921-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.10469399
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
02a1b89706495bd2306d16f53b90d6b4
                                 id gender  birthdate
0  02a1b89706495bd2306d16f53b90d6b4      M 1935-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.3276783
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
02a7c46d22baf0391eedb8e3c189671b
                                 id gender  birthdate
0  02a7c46d22baf0391eedb8e3c189671b      F 1922-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.11860399
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
02cf41e55b22a45bbd50134be09e3d36
                                 id gender  birthdate
0  02cf41e55b22a45bbd50134be09e3d36      F 1929-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.21752642
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
02d9c1df15c3134bdbe22b6d5c450775
                                 id gender  birthdate
0  02d9c1df15c3134bdbe22b6d5c450775      M 1952-02-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.38472185
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
02e626db970dd07c17e94f6ebb088a3f
                                 id gender  birthdate
0  02e626db970dd07c17e94f6ebb088a3f      F 1928-01-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.41975874
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
030489b42893daef4b40a7e8cde64c31
                                 id gender  birthdate
0  030489b42893daef4b40a7e8cde64c31      M 1951-01-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.047580816
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0317db4822be1b92710d3cb334f82c74
                                 id gender  birthdate
0  0317db4822be1b92710d3cb334f82c74      M 1953-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.1378957
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
031f3aa97b8c162ace59eb64c3fa159d
                                 id gender  birthdate
0  031f3aa97b8c162ace59eb64c3fa159d      F 1937-09-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.79434794
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
032614e3a48cdb22fbe528a7b00fbb7a
                                 id gender  birthdate
0  032614e3a48cdb22fbe528a7b00fbb7a      F 1926-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.0015318219
1304.7826086956522
     disease  times
0        410     50
1        428     43
2        414     40
3        401     35
4        780     33
..       ...    ...
233      255      1
232      246      1
231      244      1
230      197      1
327      999      1

[328 rows x 2 columns]
0332d81968b91e131b587b7df1331e95
                                 id gender  birthdate
0  0332d81968b91e131b587b7df1331e95      F 1949-01-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.1530149
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
033488427af6cf99fe991f3bbce0b663
                                 id gender  birthdate
0  033488427af6cf99fe991f3bbce0b663      M 1928-02-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.10434948
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
0334dd8844734b804f50d728c8555bf5
                                 id gender  birthdate
0  0334dd8844734b804f50d728c8555bf5      F 1961-04-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.0807945
1304.7826086956522
     disease  times
0        410     50
1        428     43
2        414     40
3        401     35
4        780     33
..       ...    ...
233      255      1
232      246      1
231      244      1
230      197      1
327      999      1

[328 rows x 2 columns]
03407f1295fe6a916ed8c08189470f4a
                                 id gender  birthdate
0  03407f1295fe6a916ed8c08189470f4a      F 1931-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.14315385
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
034308417d698b2b6d38ca33a86d6061
                                 id gender  birthdate
0  034308417d698b2b6d38ca33a86d6061      M 1964-04-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.054665774
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
03819481be9558be5e66614700b060ec
                                 id gender  birthdate
0  03819481be9558be5e66614700b060ec      M 1950-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.23829079
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
038395fd1764e28223c732f169e376e2
                                 id gender  birthdate
0  038395fd1764e28223c732f169e376e2      M 1952-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.034611177
2263.5714285714284
     disease  times
0        410     65
1        414     64
2        428     55
3        401     51
4        786     48
..       ...    ...
298      474      1
297      415      1
296      905      1
295      198      1
376      997      1

[377 rows x 2 columns]
038512ba6584df11185108f34cbdca35
                                 id gender  birthdate
0  038512ba6584df11185108f34cbdca35      M 1943-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.0024757772
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
03a2fda5683915cac2911377face23c2
                                 id gender  birthdate
0  03a2fda5683915cac2911377face23c2      M 1962-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.34656134
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
03afaf47a10262682d8f7f5cf7862caf
                                 id gender  birthdate
0  03afaf47a10262682d8f7f5cf7862caf      F 1924-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.0030898242
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
03b84e78415de68f4d43215f00d2c4c2
                                 id gender  birthdate
0  03b84e78415de68f4d43215f00d2c4c2      M 1944-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.5823171
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
041bc37fad0508b57fa50ca8302d036f
                                 id gender  birthdate
0  041bc37fad0508b57fa50ca8302d036f      M 1969-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.05249174
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
041e45ef5b5051beb89f2502b009b37f
                                 id gender  birthdate
0  041e45ef5b5051beb89f2502b009b37f      M 1930-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.5173905
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0427a8ee3ede18be25d75c1ee87acade
                                 id gender  birthdate
0  0427a8ee3ede18be25d75c1ee87acade      F 1950-02-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.4960219
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
04295628b138fc6fc55ae2809653870e
                                 id gender  birthdate
0  04295628b138fc6fc55ae2809653870e      M 1933-09-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.6866546
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
044454e5e2260693c39391399c6d92c6
                                 id gender  birthdate
0  044454e5e2260693c39391399c6d92c6      F 1943-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.3636005
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
045c81435d58da85e503f4e8216f0083
                                 id gender  birthdate
0  045c81435d58da85e503f4e8216f0083      F 1931-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.0027041156
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
045e9bc49edc71780d8a280abe3bb985
                                 id gender  birthdate
0  045e9bc49edc71780d8a280abe3bb985      F 1924-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.78357834
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0469d92040a797493b69531240ad8cfb
                                 id gender  birthdate
0  0469d92040a797493b69531240ad8cfb      M 1957-04-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.03878755
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
0476103e8f70935257a1484bb3bbb983
                                 id gender  birthdate
0  0476103e8f70935257a1484bb3bbb983      M 1919-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.009947392
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
04797a9bca4c3956cccbee66ea980341
                                 id gender  birthdate
0  04797a9bca4c3956cccbee66ea980341      M 1922-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.60734564
1304.7826086956522
     disease  times
0        410     50
1        428     43
2        414     40
3        401     35
4        780     33
..       ...    ...
233      255      1
232      246      1
231      244      1
230      197      1
327      999      1

[328 rows x 2 columns]
04afe4caa0271a9e3ab4381c41aba076
                                 id gender  birthdate
0  04afe4caa0271a9e3ab4381c41aba076      M 1919-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.6028021
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
04b13a422d0f81fb2f6117905d3fd978
                                 id gender  birthdate
0  04b13a422d0f81fb2f6117905d3fd978      F 1926-01-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.20348999
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
04bdc1a169537efee12a4c243f9e1b7d
                                 id gender  birthdate
0  04bdc1a169537efee12a4c243f9e1b7d      M 1941-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.6835407
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
04deaa23cfcbceff8c92979f6ff43c25
                                 id gender  birthdate
0  04deaa23cfcbceff8c92979f6ff43c25      M 1940-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.2970179
2263.5714285714284
     disease  times
0        410     65
1        414     64
2        428     55
3        401     51
4        786     48
..       ...    ...
298      474      1
297      415      1
296      905      1
295      198      1
376      997      1

[377 rows x 2 columns]
04f79d943a7ad2a9318fb462977fef8c
                                 id gender  birthdate
0  04f79d943a7ad2a9318fb462977fef8c      M 1945-02-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.8927602
1304.7826086956522
     disease  times
0        410     50
1        428     43
2        414     40
3        401     35
4        780     33
..       ...    ...
233      255      1
232      246      1
231      244      1
230      197      1
327      999      1

[328 rows x 2 columns]
051a60319982ffbf8cca85448a19aaae
                                 id gender  birthdate
0  051a60319982ffbf8cca85448a19aaae      M 1931-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.0030924573
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
051fc206c52aef836c3a3f3771571add
                                 id gender  birthdate
0  051fc206c52aef836c3a3f3771571add      F 1929-03-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.30983052
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
0532f65903dd63b702f53086a2dd8d7b
                                 id gender  birthdate
0  0532f65903dd63b702f53086a2dd8d7b      M 1927-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.0080952
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0534c29b619f0f1bba21cd078a39e3dc
                                 id gender  birthdate
0  0534c29b619f0f1bba21cd078a39e3dc      M 1945-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.48735422
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
054c673bd6ed36c705986a3b4a45ae5b
                                 id gender  birthdate
0  054c673bd6ed36c705986a3b4a45ae5b      M 1938-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.23112251
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
056d7c146cf680156e5da75f4013edb3
                                 id gender  birthdate
0  056d7c146cf680156e5da75f4013edb3      M 1934-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.8412135
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0571c3f62e83ef1fe65bbf79e491a146
                                 id gender  birthdate
0  0571c3f62e83ef1fe65bbf79e491a146      F 1933-03-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.08792962
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
0575c2c3fe9baa565374cbbf0e6e96df
                                 id gender  birthdate
0  0575c2c3fe9baa565374cbbf0e6e96df      M 1938-02-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.43853518
2263.5714285714284
     disease  times
0        410     65
1        414     64
2        428     55
3        401     51
4        786     48
..       ...    ...
298      474      1
297      415      1
296      905      1
295      198      1
376      997      1

[377 rows x 2 columns]
05a09d8fb08bcd11abae312648afc427
                                 id gender  birthdate
0  05a09d8fb08bcd11abae312648afc427      M 1927-02-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.6262754
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
05a2bbe6d1dba06a709685b5add4f62e
                                 id gender  birthdate
0  05a2bbe6d1dba06a709685b5add4f62e      M 1949-10-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.6772195
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
05a5df8003582de7ec08fb715d8b04a0
                                 id gender  birthdate
0  05a5df8003582de7ec08fb715d8b04a0      F 1942-01-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.9639763
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
05a7b110050fa0332ad33b489c9a26ab
                                 id gender  birthdate
0  05a7b110050fa0332ad33b489c9a26ab      M 1933-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.98523444
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
05babd24fc3f6232e432ecf312eacf0f
                                 id gender  birthdate
0  05babd24fc3f6232e432ecf312eacf0f      M 1932-02-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.3231066
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
05d4b7f9c5dc14256ef3f2994eba6ed9
                                 id gender  birthdate
0  05d4b7f9c5dc14256ef3f2994eba6ed9      M 1939-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.97569555
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
05f8b371db0aefff70ad7f0e59cb7867
                                 id gender  birthdate
0  05f8b371db0aefff70ad7f0e59cb7867      F 1959-11-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.35063
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
060aad723754a456191916186f2a9445
                                 id gender  birthdate
0  060aad723754a456191916186f2a9445      M 1941-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.3532136
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
060d06ec58238a1bbc9c3ee6ed9a4d96
                                 id gender  birthdate
0  060d06ec58238a1bbc9c3ee6ed9a4d96      F 1930-08-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.56938195
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
06164bcb2d757f127052a4539513b161
                                 id gender  birthdate
0  06164bcb2d757f127052a4539513b161      M 1942-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.012162858
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
0624b0c437ebdf4004eb857421932580
                                 id gender  birthdate
0  0624b0c437ebdf4004eb857421932580      F 1943-12-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.07543864
1357.3333333333333
     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]
0641f297e531824f1f2cf105d7dc7326
                                 id gender  birthdate
0  0641f297e531824f1f2cf105d7dc7326      F 1919-07-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.7271987
1511.3181818181818
     disease  times
0        410     66
2        414     58
1        401     58
3        428     55
4        780     44
..       ...    ...
278      625      1
277      259      1
276      474      1
275      999      1
356        8      1

[357 rows x 2 columns]
066d245efa2c608d3a462e7804df88df
                                 id gender  birthdate
0  066d245efa2c608d3a462e7804df88df      M 1941-06-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.35241842
1414.7727272727273
     disease  times
0        410     70
1        428     63
2        414     61
3        401     54
4        780     51
..       ...    ...
294      551      1
293      597      1
292      601      1
291      605      1
381        8      1

[382 rows x 2 columns]
067a0d8047686356d382106294098c88
                                 id gender  birthdate
0  067a0d8047686356d382106294098c88      M 1928-09-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...
0.53302187
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]
06ab9e7c867adfb71cfa69adaaaf1108
                                 id gender  birthdate
0  06ab9e7c867adfb71cfa69adaaaf1108      M 1917-05-01
                                                   x  \
0  [1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...

                                                   y
0  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
                                                   x  \
0  [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...

                                                   y
0  [0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ...

0.0016400074
1265.4375
     disease  times
0        410     53
1        414     47
2        428     46
3        401     41
4        780     38
..       ...    ...
260      829      1
259      911      1
258      180      1
257      405      1
332      568      1

[333 rows x 2 columns]

In [3]:
id = '003141716a352935ab39e2ec8f2401f0'

In [4]:
test.handle_instructions('get_personal_info',id)

                                 id gender  birthdate
0  003141716a352935ab39e2ec8f2401f0      M 1926-12-01

In [5]:
test.handle_instructions('get_icd_category_growth_trend',id)

,x,y
0,"[1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [8]:
test.handle_instructions('get_average_of_all_the_patients_cycles',id)

,x,y
0,"[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...","[0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ..."

In [9]:
test.handle_instructions('get_shortterm_mortality_rate',id)

0.40106428

In [10]:
test.handle_instructions('same_patient_survive_time_mean',id)

1357.3333333333333

In [11]:
test.handle_instructions('same_patient_after_confirm_disease_value_counts',id)

     disease  times
0        410     50
1        428     45
2        414     44
3        401     44
4        780     37
..       ...    ...
261      459      1
260      515      1
259      519      1
258      551      1
337        8      1

[338 rows x 2 columns]

In [20]:
test.handle_instructions('get_personal_inpatient_cycle',id)

KeyError: 'interval'