In [1]:
import pandas as pd
import numpy as np
from InOutput import InOutput
import xgboost
xgboost.__version__

'1.0.2'

In [2]:
test = InOutput()

In [3]:
test.handle_instructions("get_shortterm_mortality_rate","003141716a352935ab39e2ec8f2401f0")

0.40106427669525146

In [4]:
for patient in test_patients:
    id = patient.get_id()
    print(id)
    print(test.handle_instructions('get_personal_info',id))
    print(test.handle_instructions('get_icd_category_growth_trend',id))
    print(test.handle_instructions('get_personal_inpatient_cycle',id))
    print(test.handle_instructions('get_shortterm_mortality_rate',id))
    print(test.handle_instructions('same_patient_survive_time_mean',id))
    print(test.handle_instructions('same_patient_after_confirm_disease_value_counts',id))
print(test.handle_instructions('get_average_of_all_the_patients_cycles',id))

NameError: name 'test_patients' is not defined

In [3]:
id = "003141716a352935ab39e2ec8f2401f0"

In [4]:
test.handle_instructions('get_personal_info',id)

                                 id gender   birthdate
0  003141716a352935ab39e2ec8f2401f0      M  1926-12-01

In [5]:
test.handle_instructions('get_icd_category_growth_trend',id)

,x,y
0,"[1, 366, 731, 1096, 1461, 1826, 2191, 2556, 29...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [6]:
test.handle_instructions('get_average_of_all_the_patients_cycles',id)

,x,y
0,"[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...","[0, 0, 0, 0, 2013.0, 1382.0, 618.25, 1289.75, ..."

In [7]:
test.handle_instructions('get_shortterm_mortality_rate',id)

0.40106427669525146

In [8]:
test.handle_instructions('same_patient_survive_time_mean',id)

1357.3333333333333

In [9]:
test.handle_instructions('same_patient_after_confirm_disease_value_counts',id)

   disease  times
0      410     50
1      428     45
2      414     44
3      401     44
4      780     37
6      465     34
5      786     34
7      729     33
8      523     30
9      715     28

In [10]:
test.handle_instructions('get_personal_inpatient_cycle',id)

,x,y
0,"[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 337..."

In [5]:
from Adapter import Adapter
io = InOutput()
df_json_adapter = Adapter(io)

In [6]:
"get_personal_info"
"get_icd_category_growth_trend"
"get_personal_inpatient_cycle"
"get_average_of_all_the_patients_cycles"
"get_shortterm_mortality_rate"
"same_patient_survive_time_mean"
"same_patient_after_confirm_disease_value_counts"

'same_patient_after_confirm_disease_value_counts'

In [7]:
str(df_json_adapter.handle_instructions("get_personal_info","003141716a352935ab39e2ec8f2401f0"))

'{"0":{"id":"003141716a352935ab39e2ec8f2401f0","gender":"M","birthdate":"1926-12-01"}}'

In [8]:
str(df_json_adapter.handle_instructions("get_icd_category_growth_trend","003141716a352935ab39e2ec8f2401f0"))

'{"0":{"x":[1,366,731,1096,1461,1826,2191,2556,2921,3286,3651,4016,4381,4746,5111,5476,5841,6206,6571,6936,7301,7666,8031,8396,8761,9126,9491,9856,10221,10586,10951,11316,11681,12046,12411,12776,13141,13506,13871,14236,14601,14966,15331,15696,16061,16426,16791,17156,17521,17886,18251,18616,18981,19346,19711,20076,20441,20806,21171,21536,21901,22266,22631,22996,23361,23726,24091,24456,24821,25186,25551,25916,26281,26646,27011,27376,27741,28106,28471,28836,29201,29566,29931,30296,30661,31026,31391],"y":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,19.0,32.0,44.0,52.0,64.0,72.0,80.0,86.0,87.0,95.0,103.0,105.0,107.0,111.0]}}'

In [9]:
str(df_json_adapter.handle_instructions("get_personal_inpatient_cycle","003141716a352935ab39e2ec8f2401f0"))

'{"0":{"x":[0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100],"y":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,337,201,233,387,0,0,0]}}'

In [10]:
str(df_json_adapter.handle_instructions("get_average_of_all_the_patients_cycles","003141716a352935ab39e2ec8f2401f0"))

'{"0":{"x":[0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100],"y":[0,0,0,0,2013.0,1382.0,618.25,1289.75,1002.4444444444,1993.6923076923,1906.75,703.0588235294,1111.7,906.1875,1025.8333333333,809.8055555556,852.7666666667,748.0909090909,421.0,0,0]}}'

In [11]:
str(df_json_adapter.handle_instructions("get_shortterm_mortality_rate","003141716a352935ab39e2ec8f2401f0"))

'{"get_shortterm_mortality_rate": 0.40106427669525146}'

In [12]:
str(df_json_adapter.handle_instructions("same_patient_survive_time_mean","003141716a352935ab39e2ec8f2401f0"))

'{"same_patient_survive_time_mean": 1357.3333333333333}'

In [13]:
str(df_json_adapter.handle_instructions("same_patient_after_confirm_disease_value_counts","003141716a352935ab39e2ec8f2401f0"))

'{"0":{"disease":410,"times":50},"1":{"disease":428,"times":45},"2":{"disease":414,"times":44},"3":{"disease":401,"times":44},"4":{"disease":780,"times":37},"6":{"disease":465,"times":34},"5":{"disease":786,"times":34},"7":{"disease":729,"times":33},"8":{"disease":523,"times":30},"9":{"disease":715,"times":28}}'