In [1]:
from InOutput import InOutput

In [2]:
test = InOutput()

In [3]:
test_patient = test._data_storage._patient_list[1]

In [4]:
test_patient.get_id()

'002b2cd6ed1d3adaf529a8b051801051'

In [5]:
from ConfirmDatePatientVisitor import ConfirmDatePatientVisitor
test_vistor = ConfirmDatePatientVisitor()
test_vistor.visitPatient(test_patient)
confirm_date = test_vistor.getResult()
confirm_date

Timestamp('2012-01-29 00:00:00')

In [6]:
from AreaPatientVisitor import AreaPatientVisitor
test_vistor = AreaPatientVisitor()
test_vistor.visitPatient(test_patient)
area = test_vistor.getResult()
area

'TaichungCity'

In [7]:
from CardPatientVisitor import CardPatientVisitor
test_vistor = CardPatientVisitor()
test_vistor.visitPatient(test_patient)
position = test_vistor.getResult()
position

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
x,1.0,366.0,731.0,1096.0,1461.0,1826.0,2191.0,2556.0,2921.0,3286.0,...,24456.0,24821.0,25186.0,25551.0,25916.0,26281.0,26646.0,27011.0,27376.0,27741.0
y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,39.0,42.0,50.0,55.0,59.0,62.0,69.0,70.0,72.0

In [8]:
from ConfirmMonthPatientVisitor import ConfirmMonthPatientVisitor
test_vistor = ConfirmMonthPatientVisitor()
test_vistor.visitPatient(test_patient)
month = test_vistor.getResult()
month

,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
1,1,0,0,0,0,0,0,0,0,0,0,0