In [1]:
from InOutput import InOutput

In [2]:
test = InOutput()

In [3]:
id = '0007613eee440aa3145f09e1dfd0865b'

In [4]:
test.get_quickly_death_possible(id)

0.123416506

In [5]:
test.get_icd_category_growth_trend(id)

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
x,1.0,366.0,731.0,1096.0,1461.0,1826.0,2191.0,2556.0,2921.0,3286.0,...,12776.0,13141.0,13506.0,13871.0,14236.0,14601.0,14966.0,15331.0,15696.0,16061.0
y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30.0,30.0,32.0,32.0,33.0,33.0,35.0,38.0,51.0,55.0

In [6]:
test.get_personal_info(id)

                                 id gender  birthdate
0  0007613eee440aa3145f09e1dfd0865b      M 1968-07-01

In [7]:
test.get_same_patient_survive_time_mean(id)

1976.9411764705883

In [8]:
test.get_same_patient_after_confirm_disease_value_counts(id)

     disease  times
0        410     51
1        414     48
2        428     44
3        401     44
4        786     38
..       ...    ...
266      553      1
265      555      1
263      447      1
262      500      1
347        8      1

[348 rows x 2 columns]

In [4]:
test = InOutput()

In [5]:
patient = test._data_storage._patient_list[3]

In [6]:
patient.get_id()

'003141716a352935ab39e2ec8f2401f0'

In [7]:
from ConfirmDatePatientVisitor import ConfirmDatePatientVisitor
confirmDatePatientVisitor = ConfirmDatePatientVisitor()
patient.accept_visitor(confirmDatePatientVisitor)
confirm_date = confirmDatePatientVisitor.getResult()
confirm_date

Timestamp('2010-06-17 00:00:00')

In [8]:
from AreaPatientVisitor import AreaPatientVisitor
areaPatientVisitor = AreaPatientVisitor()
patient.accept_visitor(areaPatientVisitor)
area = areaPatientVisitor.getResult()
area

'TainanCity'

In [9]:
from CardPatientVisitor import CardPatientVisitor
cardPatientVisitor = CardPatientVisitor()
patient.accept_visitor(cardPatientVisitor)
position = cardPatientVisitor.getResult()
position

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
x,1.0,366.0,731.0,1096.0,1461.0,1826.0,2191.0,2556.0,2921.0,3286.0,...,28106.0,28471.0,28836.0,29201.0,29566.0,29931.0,30296.0,30661.0,31026.0,31391.0
y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,64.0,72.0,80.0,86.0,87.0,95.0,103.0,105.0,107.0,111.0

In [10]:
from ConfirmMonthPatientVisitor import ConfirmMonthPatientVisitor
confirmMonthPatientVisitor = ConfirmMonthPatientVisitor()
patient.accept_visitor(confirmMonthPatientVisitor)
month = confirmMonthPatientVisitor.getResult()
month

6

In [11]:
from ConfirmTypePatientVisitor import ConfirmTypePatientVisitor
confirmTypePatientVisitor = ConfirmTypePatientVisitor()
patient.accept_visitor(confirmTypePatientVisitor)
type = confirmTypePatientVisitor.getResult()
type

2

In [12]:
from ConfirmAgePatientVisitor import ConfirmAgePatientVisitor
confirmAgePatientVisitor = ConfirmAgePatientVisitor()
patient.accept_visitor(confirmAgePatientVisitor)
age = confirmAgePatientVisitor.getResult()
age

83.6

In [13]:
from HistoryTotalDotPatientVisitor import HistoryTotalDotPatientVisitor
historyTotalDotPatientVisitor = HistoryTotalDotPatientVisitor()
patient.accept_visitor(historyTotalDotPatientVisitor)
dot = historyTotalDotPatientVisitor.getResult()
dot

519128

In [14]:
from HistoryTypePatientVisitor import HistoryTypePatientVisitor
historyTypePatientVisitor = HistoryTypePatientVisitor()
patient.accept_visitor(historyTypePatientVisitor)
history_type = historyTypePatientVisitor.getResult()
history_type

  ou_times em_times in_times
0      165        7        6

In [15]:
from HistoryICDPatientVisitor import HistoryICDPatientVisitor
historyICDPatientVisitor = HistoryICDPatientVisitor()
patient.accept_visitor(historyICDPatientVisitor)
history_icd = historyICDPatientVisitor.getResult()
history_icd

Empty DataFrame
Columns: [521, 523, 525, 141, 782, 528, 401, 530, 532, 533, 790, 535, 789, 916, 410, 412, 924, 414, 290, 805, 682, 555, 428, 300, 684, 427, 438, 443, 571, 447, 578, 715, 844, 590, 847, 462, 721, 465, 850, 724, 596, 466, 599, 600, 729, 607, 491, 110, 496, 250, 891, 893]
Index: []

[0 rows x 52 columns]

In [16]:
from HistoryMEPatientVisitor import HistoryMEPatientVisitor
historyMEPatientVisitor = HistoryMEPatientVisitor()
patient.accept_visitor(historyMEPatientVisitor)
history_me = historyMEPatientVisitor.getResult()
history_me

Empty DataFrame
Columns: [B019855100, B018095255, A040358345, A022641100, B022617100, A022634100, A033471100, A046199100, A041545100, A021758100, A048363100, B023373100, A037252212, B024273100, A045338157, K000739299, N001246229, A033929100, A008956212, A032263212, B011225100, A015842209, B021571100, A019615329, B018167255, N002967209, B011212100, A021012209, A013382100, A040130100, A0437061G0, A036014277, A001085277, A0423661G0, A022903100, A040767345, A0028631G0, A046260100, A031799100, A043214345, A024888100, B022727209, B022932100, A027598100, B020991100, B024212100, A030862157, A044882100, A021981417, A012001399, A044022100, A043823100, B021641100, B019536414, B012880100, A021755100, A030521212, A029345100, A037684277, A020707100, A045016100, B018797100, A029354321, A031170363, A030862199, A009792100, B007152100, A0233701G0, B023664100, A044684100, B018026100, A0091021G0, A034255356, A029758110, A022990343, A031540100, A022274100, B017520277, A048032335, B020802100]
Index: []

[0 rows x 80 columns]

In [17]:
from QuicklyDeathPatientVisitor import QuicklyDeathPatientVisitor
quicklyDeathPatientVisitor = QuicklyDeathPatientVisitor()
patient.accept_visitor(quicklyDeathPatientVisitor)
death_posible = quicklyDeathPatientVisitor.getResult()
death_posible

0.40106428

In [18]:
from FindPatientByFPTreePatientVisitor import FindPatientByFPTreePatientVisitor
findPatientByFPTreePatientVisitor = FindPatientByFPTreePatientVisitor(test._data_storage)
patient.accept_visitor(findPatientByFPTreePatientVisitor)
patients = findPatientByFPTreePatientVisitor.getResult()
patients

[<Patient.Patient at 0x1b0454e7448>,
 <Patient.Patient at 0x1b0454e7b08>,
 <Patient.Patient at 0x1b0454e7ec8>,
 <Patient.Patient at 0x1b0454fef08>,
 <Patient.Patient at 0x1b0455018c8>,
 <Patient.Patient at 0x1b045501dc8>,
 <Patient.Patient at 0x1b0454fe9c8>,
 <Patient.Patient at 0x1b045505e88>,
 <Patient.Patient at 0x1b045509608>,
 <Patient.Patient at 0x1b045509e48>,
 <Patient.Patient at 0x1b04550d548>,
 <Patient.Patient at 0x1b04550f9c8>,
 <Patient.Patient at 0x1b0455130c8>,
 <Patient.Patient at 0x1b045513788>,
 <Patient.Patient at 0x1b045513e48>,
 <Patient.Patient at 0x1b045516548>,
 <Patient.Patient at 0x1b04551d788>,
 <Patient.Patient at 0x1b04551de48>,
 <Patient.Patient at 0x1b0455280c8>,
 <Patient.Patient at 0x1b045528788>,
 <Patient.Patient at 0x1b045530308>,
 <Patient.Patient at 0x1b0455309c8>,
 <Patient.Patient at 0x1b045532788>,
 <Patient.Patient at 0x1b045539548>,
 <Patient.Patient at 0x1b045539c08>,
 <Patient.Patient at 0x1b04553f0c8>,
 <Patient.Patient at 0x1b04553f788>,
 <Patient.Patient at 0x1b04553fe48>,
 <Patient.Patient at 0x1b045543548>,
 <Patient.Patient at 0x1b045543c08>,
 <Patient.Patient at 0x1b045546308>,
 <Patient.Patient at 0x1b04554a788>,
 <Patient.Patient at 0x1b04554d548>,
 <Patient.Patient at 0x1b04554dc08>,
 <Patient.Patient at 0x1b045552308>,
 <Patient.Patient at 0x1b0455529c8>,
 <Patient.Patient at 0x1b0455550c8>,
 <Patient.Patient at 0x1b045555e48>,
 <Patient.Patient at 0x1b04555c9c8>,
 <Patient.Patient at 0x1b04555f788>,
 <Patient.Patient at 0x1b045562c08>,
 <Patient.Patient at 0x1b045568308>,
 <Patient.Patient at 0x1b0455689c8>,
 <Patient.Patient at 0x1b04556a0c8>,
 <Patient.Patient at 0x1b04556ae48>,
 <Patient.Patient at 0x1b04556e548>,
 <Patient.Patient at 0x1b045572308>,
 <Patient.Patient at 0x1b0455750c8>,
 <Patient.Patient at 0x1b045575788>,
 <Patient.Patient at 0x1b045578548>,
 <Patient.Patient at 0x1b045583548>,
 <Patient.Patient at 0x1b045587308>,
 <Patient.Patient at 0x1b04558b0c8>]

In [19]:
from CalSamePatientDeathMeanTimePatientVisitor import CalSamePatientDeathMeanTimePatientVisitor
calSamePatientDeathMeanTimePatientVisitor = CalSamePatientDeathMeanTimePatientVisitor(test._data_storage)
patient.accept_visitor(calSamePatientDeathMeanTimePatientVisitor)
mean = calSamePatientDeathMeanTimePatientVisitor.getResult()
mean

1932.6470588235295

In [20]:
from AfterConfirmRecordDiseaseSetPatientVisitor import AfterConfirmRecordDiseaseSetPatientVisitor
afterConfirmRecordDiseaseSetPatientVisitor = AfterConfirmRecordDiseaseSetPatientVisitor()
patient.accept_visitor(afterConfirmRecordDiseaseSetPatientVisitor)
d_set = afterConfirmRecordDiseaseSetPatientVisitor.getResult()
d_set

[518,
 913,
 786,
 787,
 531,
 533,
 789,
 276,
 401,
 410,
 413,
 290,
 38,
 427,
 428,
 300,
 564,
 698,
 702,
 715,
 716,
 331,
 78,
 463,
 465,
 466,
 721,
 724,
 599,
 216,
 729,
 485,
 486,
 873,
 491,
 112,
 496,
 372,
 373,
 250]

In [6]:
from GetAllPatientAfterConfirmDiseaseSetValueCountPatientVisitor import GetAllPatientAfterConfirmDiseaseSetValueCountPatientVisitor
getAllPatientAfterConfirmDiseaseSetValueCountPatientVisitor = GetAllPatientAfterConfirmDiseaseSetValueCountPatientVisitor(test._data_storage)
patient.accept_visitor(getAllPatientAfterConfirmDiseaseSetValueCountPatientVisitor)
a_d_set = getAllPatientAfterConfirmDiseaseSetValueCountPatientVisitor.getResult()
a_d_set

     disease  times
0        410     52
1        414     47
2        401     45
3        428     43
4        786     38
..       ...    ...
261      244      1
260      905      1
259      246      1
258      841      1
336      999      1

[337 rows x 2 columns]