In [1]:
from InOutput import InOutput

In [2]:
test = InOutput()

In [15]:
patient = test._data_storage._patient_list[15]

In [16]:
patient.get_id()

'00ecf588b61e4afdc2c2913de253c900'

In [17]:
from ConfirmDatePatientVisitor import ConfirmDatePatientVisitor
confirmDatePatientVisitor = ConfirmDatePatientVisitor()
confirmDatePatientVisitor.visitPatient(patient)
confirm_date = confirmDatePatientVisitor.getResult()
confirm_date

Timestamp('2013-05-13 00:00:00')

In [18]:
from AreaPatientVisitor import AreaPatientVisitor
areaPatientVisitor = AreaPatientVisitor()
areaPatientVisitor.visitPatient(patient)
area = areaPatientVisitor.getResult()
area

'TainanCity'

In [19]:
from CardPatientVisitor import CardPatientVisitor
cardPatientVisitor = CardPatientVisitor()
cardPatientVisitor.visitPatient(patient)
position = cardPatientVisitor.getResult()
position

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
x,1.0,366.0,731.0,1096.0,1461.0,1826.0,2191.0,2556.0,2921.0,3286.0,...,24456.0,24821.0,25186.0,25551.0,25916.0,26281.0,26646.0,27011.0,27376.0,27741.0
y,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,21.0,23.0,25.0,25.0,26.0,26.0,36.0,42.0,49.0,58.0

In [20]:
from ConfirmMonthPatientVisitor import ConfirmMonthPatientVisitor
confirmMonthPatientVisitor = ConfirmMonthPatientVisitor()
confirmMonthPatientVisitor.visitPatient(patient)
month = confirmMonthPatientVisitor.getResult()
month

,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
0,0,0,0,0,1,0,0,0,0,0,0,0

In [21]:
from ConfirmTypePatientVisitor import ConfirmTypePatientVisitor
confirmTypePatientVisitor = ConfirmTypePatientVisitor()
confirmTypePatientVisitor.visitPatient(patient)
type = confirmTypePatientVisitor.getResult()
type

  type_0 type_1 type_2
0      0      1      0

In [22]:
from ConfirmAgePatientVisitor import ConfirmAgePatientVisitor
confirmAgePatientVisitor = ConfirmAgePatientVisitor()
confirmAgePatientVisitor.visitPatient(patient)
age = confirmAgePatientVisitor.getResult()
age

         age
0  75.413699

In [23]:
from HistoryTotalDotPatientVisitor import HistoryTotalDotPatientVisitor
historyTotalDotPatientVisitor = HistoryTotalDotPatientVisitor()
historyTotalDotPatientVisitor.visitPatient(patient)
dot = historyTotalDotPatientVisitor.getResult()
dot

  TotalDot
0   258581

In [24]:
from HistoryTypePatientVisitor import HistoryTypePatientVisitor
historyTypePatientVisitor = HistoryTypePatientVisitor()
historyTypePatientVisitor.visitPatient(patient)
history_type = historyTypePatientVisitor.getResult()
history_type

  ou_times em_times in_times
0       66        2        2

In [25]:
from HistoryICDPatientVisitor import HistoryICDPatientVisitor
historyICDPatientVisitor = HistoryICDPatientVisitor()
historyICDPatientVisitor.visitPatient(patient)
history_icd = historyICDPatientVisitor.getResult()
history_icd

Empty DataFrame
Columns: [385, 388, 521, 522, 523, 780, 396, 785, 786, 401, 535, 153, 410, 414, 424, 300, 428, 174, 691, 692, 698, 443, 455, 715, 460, 465, 466, 211, 217, 729, 482, 611, 616, 493, 372, 380, 381, 382]
Index: []

[0 rows x 38 columns]

In [26]:
from HistoryMEPatientVisitor import HistoryMEPatientVisitor
historyMEPatientVisitor = HistoryMEPatientVisitor()
historyMEPatientVisitor.visitPatient(patient)
history_me = historyMEPatientVisitor.getResult()
history_me

Empty DataFrame
Columns: [A005891209, B017214112, A037598116, N006066265, AC285031G0, A023521100, AC30521212, AC13229100, A001085277, B018155100, B010085100, B020802100, B022932100, B021571100, B018304297, A024113277, AC07630212, B019376221, AC27716209, AC20651255, AC373441G0, A042017100, AC453631G0, A040130100, B009554100, AC473101G0, B018979229, A024465100, A027438100, AC43943412, AC32172299]
Index: []

[0 rows x 31 columns]

In [28]:
import pandas as pd

In [30]:
model_columns_list = list(pd.read_pickle('../data/model_columns_list.pkl')['key'])

In [34]:
model_columns_list

['dot',
 'get_age',
 'ou',
 'type_0',
 'em',
 '798',
 '518',
 '785',
 '38',
 'in',
 '290',
 '414',
 '486',
 '411',
 '286',
 'type_2',
 '293',
 '198',
 '799',
 '584',
 '707',
 '820',
 '782',
 '276',
 '920',
 '53',
 '133',
 '507',
 '413',
 '873',
 '151',
 '485',
 '427',
 '197',
 '332',
 '585',
 '788',
 '438',
 '460',
 '458',
 '522',
 'B018863412',
 'B020554100',
 '694',
 '432',
 '189',
 '487',
 '348',
 '218',
 '205',
 '621',
 '759',
 '6',
 '434',
 '681',
 '464',
 '470',
 '162',
 '112',
 'area_YunlinCounty',
 'A020573229',
 '905',
 '825',
 '202',
 '879',
 '141',
 '430',
 '294',
 'A034255356',
 '255',
 '913',
 '692',
 '530',
 '386',
 '578',
 '306',
 '595',
 '718',
 '910',
 '235',
 '843',
 '599',
 'B017151229',
 '303',
 '251',
 '893',
 'A026551121',
 'A021656100',
 'A004973321',
 'A045177100',
 'A044463100',
 '165',
 'A027936100',
 'AC39794100',
 'A034286100',
 '956',
 'A034096100',
 'AC22682271',
 '146',
 '144',
 'A045039100',
 'B018332100',
 'B018167255',
 '346',
 'A034886100',
 'B023749209',
 'A027928212',
 '723',
 '695',
 '441',
 '465',
 '492',
 '380',
 '287',
 'B019457209',
 'N002967209',
 'A024212277',
 '806',
 '440',
 '996',
 '716',
 '145',
 'B022071100',
 'B017214112',
 '959',
 '506',
 '793',
 '995',
 '11',
 '155',
 '787',
 'area_TaoyuanCity',
 '331',
 '274',
 '511',
 '854',
 'B017742277',
 'B022886100',
 'A0361511G0',
 'A042435100',
 'A006795100',
 'A003552212',
 'AC00480209',
 '711',
 '682',
 '110',
 '698',
 'A0373441G0',
 'area_TaitungCounty',
 '365',
 '894',
 'month_9',
 '881',
 'B010085100',
 'A028613199',
 '629',
 '553',
 'B020932221',
 '725',
 'A022836100',
 '481',
 'B018752100',
 'A045701221',
 'A029835277',
 'B021779100',
 'A018251100',
 'A001085255',
 '690',
 'month_6',
 'B023917100',
 'A042412209',
 '558',
 '477',
 'N009997277',
 'B020802100',
 '783',
 '403',
 '435',
 '444',
 '360',
 '922',
 '602',
 '196',
 '297',
 'A045154221',
 'A043735112',
 'A045993100',
 'N004582238',
 'A022274100',
 'B021848263',
 '396',
 '705',
 '521',
 'B024273100',
 'A030810209',
 'A041913100',
 '378',
 'N015737265',
 'A003318100',
 '227']