In [1]:
from IO import IO

/home/jupyter/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [2]:
import pandas as pd

In [3]:
a = IO()

In [4]:
a.load_data()

In [5]:
a._patients

                                    ID Gender      Birth      Death
0     0007613eee440aa3145f09e1dfd0865b      M 1968-07-01 2013-04-10
1     000ef5e1cc6b18c92c3da94886c205f2      M 1951-11-01        NaT
2     001561666d3f7af58205c452df1006a7      F 1950-09-01        NaT
3     001653b694bd769cca36d1181624f260      M 1966-06-01        NaT
4     001bb0fb0274b845fcf167f24548fa0b      F 1929-09-01 2013-04-29
...                                ...    ...        ...        ...
9980  ffe8f6a2b8b9b7a9da4a175e30534dc0      F 1933-05-01 2012-02-04
9981  fff2ecdf8a0234c105986a3b4a45ae5b      F 1932-11-01        NaT
9982  fff4368e1efbcb5223a980972093b0d9      M 1947-10-01 2010-08-09
9983  fffc746780c2e287bd0fac61d5528722      M 1939-06-01        NaT
9984  fffd2516e3115669a1b9319c813b62e0      M 1955-07-01        NaT

[9985 rows x 4 columns]

In [8]:
a._records

,PatientID,SeqNo,InDate,Area,Type,ApplyDot,TotalDot,ICD9CM,HospSpecItem,AcuteBed,ChronicBed,TotalBed,TranTime,TranCode,PartDot,DayDot,OutDate,InAge,Drug
0,0007613eee440aa3145f09e1dfd0865b,0,1998-09-07,TaichungCity,1.0,211151,230151,"[410, 410, 413]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,0007613eee440aa3145f09e1dfd0865b,1,1999-01-14,TaichungCity,1.0,14515,16128,"[682, 785]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2,0007613eee440aa3145f09e1dfd0865b,2,1999-01-25,TaichungCity,0.0,50,325,[682],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3,0007613eee440aa3145f09e1dfd0865b,3,1999-01-27,TaichungCity,0.0,50,307,[682],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
4,0007613eee440aa3145f09e1dfd0865b,4,1999-01-28,TaichungCity,0.0,50,686,[682],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109097,a3e40da42bceda3fd5c7b9ea7e10dbb6,1,2013-09-14,NaN,2.0,14841,16490,"[59381, 42731, 4254, 2740]",1,5.0,0.0,5.0,1.0,3,1649.0,3298.0,2013-09-19,30.0,"[A040130100, AB367881G0, AC058131G0, AC058131G..."
4109098,a3e40da42bceda3fd5c7b9ea7e10dbb6,2,2013-12-10,NaN,2.0,1839,2043,"[4280, 4254, 59381, 42731]",1,1.0,0.0,1.0,1.0,5,204.0,2043.0,2013-12-10,30.0,NaN
4109099,a9f2ae6de2106c49cadf46aeeffb03d6,1,2013-10-15,NaN,2.0,25638,25638,"[4564, 27800, 4279]",1,2.0,0.0,2.0,1.0,3,0.0,12819.0,2013-10-17,48.0,"[A005874209, A022223100, A025485209, A04013010..."
4109100,4b577d2feb43ce56afc4f854b461b735,1,2013-11-25,NaN,2.0,31041,34490,"[5942, 5920, 5921, 591, 4280]",2,2.0,0.0,2.0,1.0,3,3449.0,17245.0,2013-11-27,37.0,"[A001085277, A005874209, AC058111G0, AC058111G..."
4109101,23d4793aa20a375d5490fdc1b45b2a7e,1,2013-11-27,NaN,2.0,43827,41966,"[2180, 2181, 4019]",1,4.0,0.0,4.0,1.0,3,4197.0,10491.5,2013-12-01,53.0,"[A002801277, A005891209, A009250500, A02680420..."

In [11]:
df = a._records
df = df[df['Type']==2.0]

In [22]:
pd.merge(a._patients,df,left_on='ID',right_on='PatientID').iloc[150:200]

,ID,Gender,Birth,Death,PatientID,SeqNo,InDate,Area,Type,ApplyDot,...,AcuteBed,ChronicBed,TotalBed,TranTime,TranCode,PartDot,DayDot,OutDate,InAge,Drug
150,00ecf588b61e4afdc2c2913de253c900,F,1938-01-01,NaT,00ecf588b61e4afdc2c2913de253c900,3,2013-05-13,NaN,2.0,134114,...,5.0,0.0,5.0,1.0,3,14902.0,29803.199219,2013-05-18,75.0,"[A001085277, A001085277, A005891209, A00589120..."
151,00ecf588b61e4afdc2c2913de253c900,F,1938-01-01,NaT,00ecf588b61e4afdc2c2913de253c900,4,2013-09-09,NaN,2.0,91859,...,15.0,0.0,15.0,1.0,3,0.0,6123.933105,2013-09-24,75.0,"[A001085277, A001085277, A001085277, A00108527..."
152,00ecf588b61e4afdc2c2913de253c900,F,1938-01-01,NaT,00ecf588b61e4afdc2c2913de253c900,5,2013-10-17,NaN,2.0,29580,...,6.0,0.0,6.0,1.0,3,0.0,2207.666748,2013-10-23,75.0,"[A001085277, A001085277, A029828100, A02982810..."
153,00ecf588b61e4afdc2c2913de253c900,F,1938-01-01,NaT,00ecf588b61e4afdc2c2913de253c900,6,2013-11-12,NaN,2.0,14790,...,3.0,0.0,3.0,1.0,3,0.0,2873.000000,2013-11-15,75.0,"[A001085277, A029828100, A029828100, A04348810..."
154,00ecf588b61e4afdc2c2913de253c900,F,1938-01-01,NaT,00ecf588b61e4afdc2c2913de253c900,7,2013-12-17,NaN,2.0,9860,...,2.0,0.0,2.0,1.0,3,0.0,3818.000000,2013-12-19,75.0,"[A001085277, A001085277, A010784209, A01078420..."
155,0103430ff3f022ea538c4161d0474d0c,M,1932-05-01,NaT,0103430ff3f022ea538c4161d0474d0c,1,2008-07-09,NaN,2.0,97977,...,7.0,0.0,7.0,1.0,3,10886.0,15551.857422,2008-07-16,76.0,"[A029791212, A029791212, A029791212, A00589120..."
156,0103430ff3f022ea538c4161d0474d0c,M,1932-05-01,NaT,0103430ff3f022ea538c4161d0474d0c,2,2010-09-28,NaN,2.0,19532,...,4.0,0.0,4.0,1.0,3,2170.0,5425.500000,2010-10-02,78.0,"[A030620289, A020651255, A001085277, A00108527..."
157,0103430ff3f022ea538c4161d0474d0c,M,1932-05-01,NaT,0103430ff3f022ea538c4161d0474d0c,3,2011-01-20,NaN,2.0,20798,...,6.0,0.0,6.0,1.0,3,2311.0,3851.500000,2011-01-26,78.0,"[B018979229, B018979229, B018979229, N00606626..."
158,0103430ff3f022ea538c4161d0474d0c,M,1932-05-01,NaT,0103430ff3f022ea538c4161d0474d0c,4,2011-02-17,NaN,2.0,33846,...,12.0,0.0,12.0,1.0,3,3761.0,3133.916748,2011-03-01,78.0,"[A001085265, A001085265, A0058111G0, A0058111G..."
159,0103430ff3f022ea538c4161d0474d0c,M,1932-05-01,NaT,0103430ff3f022ea538c4161d0474d0c,5,2011-08-13,NaN,2.0,569769,...,7.0,0.0,7.0,1.0,3,28000.0,67703.140625,2011-08-20,79.0,"[A040130100, A0415451G0, A0415451G0, A0415451G..."
160,0103430ff3f022ea538c4161d0474d0c,M,1932-05-01,NaT,0103430ff3f022ea538c4161d0474d0c,6,2013-01-04,NaN,2.0,70511,...,10.0,0.0,10.0,1.0,3,7835.0,7834.600098,2013-01-14,80.0,"[A001085277, A001085277, A002801277, A00280127..."
161,0103430ff3f022ea538c4161d0474d0c,M,1932-05-01,NaT,0103430ff3f022ea538c4161d0474d0c,7,2013-05-29,NaN,2.0,33859,...,6.0,0.0,6.0,1.0,3,3762.0,6270.166504,2013-06-04,81.0,"[A001085277, A028614100, A040130100, AC2268227..."
162,0104970c0db2c2b03b193438c09b3b8c,F,1925-12-01,2011-10-14,0104970c0db2c2b03b193438c09b3b8c,1,2011-09-07,NaN,2.0,14960,...,6.0,0.0,6.0,1.0,3,1662.0,2770.333252,2011-09-13,85.0,"[B018863412, B022612100, B017214112, AC340961G..."
163,0104970c0db2c2b03b193438c09b3b8c,F,1925-12-01,2011-10-14,0104970c0db2c2b03b193438c09b3b8c,2,2011-09-17,NaN,2.0,15124,...,4.0,0.0,4.0,1.0,6,1680.0,4201.000000,2011-09-21,85.0,"[N010887229, N010887229, B014822100, B01486121..."
164,0104970c0db2c2b03b193438c09b3b8c,F,1925-12-01,2011-10-14,0104970c0db2c2b03b193438c09b3b8c,3,2011-09-21,NaN,2.0,238375,...,23.0,0.0,23.0,1.0,A,26486.0,11515.695312,2011-10-14,85.0,"[A0010471G0, A0010471G0, A001085277, A00587420..."
165,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,1,1997-08-06,NaN,2.0,35897,...,5.0,0.0,5.0,1.0,3,0.0,7179.399902,1997-08-11,73.0,"[A014228100, B019598100, B011212100, B01878410..."
166,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,2,2001-02-09,NaN,2.0,38409,...,11.0,0.0,11.0,1.0,3,0.0,3491.727295,2001-02-20,76.0,"[A001085277, A010917100, A005075100, B02156010..."
167,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,3,2001-02-20,NaN,2.0,139756,...,25.0,0.0,25.0,1.0,3,0.0,5590.240234,2001-03-17,76.0,"[B021373100, A014228100, B017664100, A01035810..."
168,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,4,2001-09-02,NaN,2.0,16446,...,3.0,0.0,3.0,1.0,3,0.0,5482.000000,2001-09-05,77.0,"[B019859212, A030810209, N002531100, A02330910..."
169,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,5,2001-10-05,NaN,2.0,30097,...,12.0,0.0,12.0,1.0,3,0.0,2508.083252,2001-10-17,77.0,"[A032624212, B010442100, B009554100, A04151910..."
170,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,6,2001-10-21,NaN,2.0,38670,...,16.0,0.0,16.0,1.0,3,0.0,2416.875000,2001-11-06,77.0,"[A005075100, A033947100, B010442100, B01962410..."
171,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,7,2001-11-12,NaN,2.0,21486,...,10.0,0.0,10.0,1.0,3,0.0,2148.600098,2001-11-22,77.0,"[A001047100, A033544100, A033947100, A03475610..."
172,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,8,2002-01-18,NaN,2.0,15213,...,6.0,0.0,6.0,1.0,3,0.0,2535.500000,2002-01-24,77.0,"[B018158100, A030810209, A023309100, A02298710..."
173,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,9,2002-07-08,NaN,2.0,27130,...,1.0,0.0,1.0,1.0,1,0.0,21749.000000,2002-07-09,78.0,"[A025058100, B019908416, A024888100, A02488810..."
174,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,10,2003-03-31,NaN,2.0,10684,...,3.0,0.0,3.0,1.0,3,0.0,3561.333252,2003-04-03,78.0,"[A042514100, A010654277, B019624100, A01065427..."
175,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,11,2004-05-15,NaN,2.0,10875,...,2.0,0.0,2.0,1.0,3,0.0,5437.500000,2004-05-17,79.0,"[A009250500, B018167255, A039251277, A03179910..."
176,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,12,2004-11-29,NaN,2.0,9142,...,1.0,0.0,1.0,1.0,3,0.0,9142.000000,2004-11-30,80.0,"[A044731100, A044731100, A044063100, A04066510..."
177,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,13,2005-03-31,NaN,2.0,27525,...,1.0,0.0,1.0,1.0,3,0.0,26003.000000,2005-04-01,80.0,"[A029447209, A029447209, A042412209, B02308727..."
178,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,14,2007-11-20,NaN,2.0,8996,...,2.0,0.0,2.0,1.0,6,0.0,4498.000000,2007-11-22,83.0,NaN
179,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,15,2007-11-22,NaN,2.0,73057,...,23.0,0.0,23.0,1.0,1,0.0,3176.391357,2007-12-15,83.0,NaN
180,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,16,2007-12-24,NaN,2.0,186952,...,22.0,0.0,22.0,1.0,1,0.0,8497.818359,2008-01-15,83.0,"[A001085265, A003365100, A005874209, A02070710..."
181,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,17,2009-01-17,NaN,2.0,9476,...,4.0,0.0,4.0,1.0,3,0.0,2369.000000,2009-01-21,84.0,"[A029447209, A030521212, B004248245, B02295110..."
182,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,18,2009-02-12,NaN,2.0,131870,...,2.0,0.0,2.0,1.0,3,0.0,40260.500000,2009-02-14,84.0,"[A014228100, A014228100, A024212277, A03074910..."
183,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,19,2010-06-29,NaN,2.0,49451,...,2.0,0.0,2.0,1.0,3,0.0,14297.500000,2010-07-01,85.0,"[A024212277, B017151229, B022551100, N009997277]"
184,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,20,2010-12-20,NaN,2.0,8725,...,3.0,0.0,3.0,1.0,3,0.0,2908.333252,2010-12-23,86.0,"[A0307491G0, A0307491G0, A036247100, A03624710..."
185,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,21,2011-01-03,NaN,2.0,14237,...,4.0,0.0,4.0,1.0,3,0.0,3559.250000,2011-01-07,86.0,"[A0067471G0, A0067471G0, A023521100, A02352110..."
186,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,22,2011-02-07,NaN,2.0,9901,...,3.0,0.0,3.0,1.0,3,0.0,3300.333252,2011-02-10,86.0,"[A028041100, A028041100, A036247100, A03624710..."
187,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,23,2011-04-29,NaN,2.0,38744,...,11.0,0.0,11.0,1.0,1,0.0,3522.181885,2011-05-10,86.0,"[AC43862100, AC43862100, A001085277, A0185691G..."
188,012ed0d0870bd1c6cf6b487b8dab265e,M,1924-07-01,2011-09-05,012ed0d0870bd1c6cf6b487b8dab265e,24,2011-07-30,NaN,2.0,632417,...,37.0,0.0,37.0,1.0,4,0.0,17092.351562,2011-09-05,87.0,"[AC00480209, AC00480209, AC00480209, AC0048020..."
189,013f84a811803f329922efc36f7e0e4e,M,1926-07-01,NaT,013f84a811803f329922efc36f7e0e4e,1,1998-11-30,NaN,2.0,14621,...,8.0,0.0,8.0,1.0,3,0.0,1827.625000,1998-12-08,72.0,"[A034748316, A031771100, B020516100, B02051610..."
190,013f84a811803f329922efc36f7e0e4e,M,1926-07-01,NaT,013f84a811803f329922efc36f7e0e4e,2,1999-11-01,NaN,2.0,53217,...,14.0,0.0,14.0,1.0,3,0.0,3801.214355,1999-11-15,73.0,"[B019624100, B019624100, B019624100, B02051610..."
191,013f84a811803f329922efc36f7e0e4e,M,1926-07-01,NaT,013f84a811803f329922efc36f7e0e4e,3,2008-03-17,NaN,2.0,24815,...,1.0,0.0,1.0,1.0,1,0.0,22224.000000,2008-03-18,81.0,"[A003389100, A003389100, A017880421, A02070710..."
192,013f84a811803f329922efc36f7e0e4e,M,1926-07-01,NaT,013f84a811803f329922efc36f7e0e4e,4,2010-04-26,NaN,2.0,17340,...,7.0,0.0,7.0,1.0,3,0.0,2477.142822,2010-05-03,83.0,"[A0010471G0, A001085209, A0185691G0, A02212210..."
193,013f84a811803f329922efc36f7e0e4e,M,1926-07-01,NaT,013f84a811803f329922efc36f7e0e4e,5,2011-02-14,NaN,2.0,40257,...,11.0,0.0,11.0,1.0,3,0.0,3659.727295,2011-02-25,84.0,"[A009250500, A028613148, A030521212, A03086215..."
194,013f84a811803f329922efc36f7e0e4e,M,1926-07-01,NaT,013f84a811803f329922efc36f7e0e4e,6,2013-02-12,NaN,2.0,35290,...,14.0,0.0,14.0,1.0,3,0.0,2520.714355,2013-02-26,86.0,"[A009250500, A023521100, A023521100, A02352110..."
195,013f84a811803f329922efc36f7e0e4e,M,1926-07-01,NaT,013f84a811803f329922efc36f7e0e4e,7,2013-10-30,NaN,2.0,287683,...,37.0,0.0,36.0,1.0,2,0.0,7991.194336,2013-12-05,87.0,"[A009250500, A009250500, A009250500, A00925050..."
196,015b8ac98a1019c00a3d16d2db53bb42,M,1937-06-01,NaT,015b8ac98a1019c00a3d16d2db53bb42,1,2004-05-09,NaN,2.0,34717,...,8.0,0.0,8.0,1.0,3,3858.0,4821.875000,2004-05-17,66.0,"[B018797100, B018797100, B018979255, B01898710..."
197,015b8ac98a1019c00a3d16d2db53bb42,M,1937-06-01,NaT,015b8ac98a1019c00a3d16d2db53bb42,2,2004-06-10,NaN,2.0,119911,...,2.0,0.0,2.0,1.0,3,9779.0,48895.000000,2004-06-12,67.0,"[B023619100, A023370100, B022932100, B02207110..."
198,015b8ac98a1019c00a3d16d2db53bb42,M,1937-06-01,NaT,015b8ac98a1019c00a3d16d2db53bb42,3,2010-04-21,NaN,2.0,720104,...,12.0,0.0,12.0,1.0,3,29000.0,59675.832031,2010-05-03,72.0,"[A001085265, A001085265, A001085277, A00108527..."
199,016ffb0b85881f1438623113a5cd9b8a,M,1951-05-01,NaT,016ffb0b85881f1438623113a5cd9b8a,1,2007-08-27,NaN,2.0,64657,...,5.0,0.0,5.0,1.0,3,7184.0,14368.200195,2007-09-01,56.0,NaN

In [23]:
a.set_patient_by_id('015b8ac98a1019c00a3d16d2db53bb42')

In [24]:
a.get_quickly_death_model_point()

0.89265126

In [26]:
a.get_patient_personal_data()

'{"0":{"id":"015b8ac98a1019c00a3d16d2db53bb42","gender":"M","birthdate":"06-01-1937"}}'