In [1]:
import json
import numpy as np
import pandas as pd

from patient import *

In [2]:
with open('./patient.json','r') as patient_reader:
    patinet_data = json.load(patient_reader)
with open('./record.json','r') as record_reader:
    record_data = json.load(record_reader)
with open('./inpatient.json','r') as inpatient_reader:
    inpatient_data = json.load(inpatient_reader)

In [3]:
patient_df = pd.DataFrame.from_dict(patinet_data , orient='index')
record_df = pd.DataFrame.from_dict(record_data , orient='index')
inpatient_df = pd.DataFrame.from_dict(inpatient_data , orient='index')

In [4]:
for i in patient_df['ID'].values:
    personal_info = patient_df.loc[patient_df["ID"] == i,:]
    personal_record = record_df.loc[record_df['ID'] == i,:]
    personal_inpatient = inpatient_df.loc[inpatient_df['ID'] == i,:]
personal_info.values[0]

array(['06ab9e7c867adfb71cfa69adaaaf1108', 'M', '1917-05-01 00:00:00',
       '2011-04-25 00:00:00'], dtype=object)

In [1]:
from InOutput import InOutput

In [2]:
io = InOutput()

In [3]:
a = io.data_storage
a.patient_list[0].get_inpatient()

,ID,SeqNo,HospID,HospSpecItem,AcuteBed,ChronicBed,TotalBed,ICD9CM,TranTime,TranCode,PartDot,ApplyDot,DayDot,TotalDot,InDate,OutDate,InAge,Drug
0,0007613eee440aa3145f09e1dfd0865b,1,210d8d6c57051a2c7ead39fed544733812,2,9,0,9,"[410, 410, 413, 401]",1,3,19000,211151,25572.333984,230151,1998-09-07 00:00:00,1998-09-16 00:00:00,30,"[A013382100, A001085209, A005891209, A01338210..."
1,0007613eee440aa3145f09e1dfd0865b,2,e0d6532fb2f0d5e5b8547efda9bc9eac01,3,8,0,8,"[682, 785]",1,3,1613,14515,2016.000000,16128,1999-01-14 00:00:00,1999-01-22 00:00:00,30,"[A027246277, A027254100, A014108100, B01703931..."
2,0007613eee440aa3145f09e1dfd0865b,3,e0d6532fb2f0d5e5b8547efda9bc9eac01,3,23,0,23,"[892, 996, 998]",1,3,7398,66585,3216.652100,73983,1999-03-03 00:00:00,1999-03-26 00:00:00,30,"[A035296321, N006998100, A006629100, A00722135..."
3,0007613eee440aa3145f09e1dfd0865b,4,fd8804e6f590111606c39b8246c4814915,3,11,0,11,"[709, 727, 255, 459, 586]",1,3,3618,32559,3288.818115,36177,1999-04-19 00:00:00,1999-04-30 00:00:00,30,"[A012972100, A001085277, A019280209, A02983523..."
4,0007613eee440aa3145f09e1dfd0865b,5,60354d8fa33f067a4039b124952c9ff915,2,17,0,17,"[707, 709]",1,3,5496,49460,3232.705811,54956,1999-04-30 00:00:00,1999-05-17 00:00:00,30,"[A029836277, A035833309, A035833309, N00390510..."
5,0007613eee440aa3145f09e1dfd0865b,6,8cc1acec4b97828e1eedb8e3c189671b13,1,4,0,4,"[414, 401]",1,3,14259,128331,35647.500000,142590,2000-04-13 00:00:00,2000-04-17 00:00:00,31,"[N003950100, A028984100, A031771100, A02983627..."
6,0007613eee440aa3145f09e1dfd0865b,7,60354d8fa33f067a4039b124952c9ff915,2,20,0,20,"[444, 785, 709, 906]",1,3,13864,124777,6932.049805,138641,2000-07-04 00:00:00,2000-07-24 00:00:00,32,"[A030810277, A030810277, A010871277, A01087127..."
7,0007613eee440aa3145f09e1dfd0865b,8,60354d8fa33f067a4039b124952c9ff915,2,29,0,29,"[785, 709, 998, 444]",1,3,6587,59279,2271.241455,65866,2000-08-08 00:00:00,2000-09-06 00:00:00,32,"[A029836277, A030810277, N007262277, A00587420..."
8,0007613eee440aa3145f09e1dfd0865b,9,8cc1acec4b97828e1eedb8e3c189671b13,1,9,0,9,"[389, 785, 599, 584, 274]",1,3,5859,52734,6510.333496,58593,2010-12-13 00:00:00,2010-12-22 00:00:00,42,"[A001085277, A001085277, A009453100, A01402510..."
9,0007613eee440aa3145f09e1dfd0865b,10,e0d6532fb2f0d5e5b8547efda9bc9eac01,2,11,0,11,"[518, 518, 584, 585, 274]",1,3,10447,94019,9496.909180,104466,2011-11-05 00:00:00,2011-11-16 00:00:00,43,"[K000271248, N005199229, AC49695265, AC4969526..."
10,0007613eee440aa3145f09e1dfd0865b,11,e0d6532fb2f0d5e5b8547efda9bc9eac01,2,5,0,5,"[427, 428, 585, 458]",1,3,2924,26315,5847.799805,29239,2011-11-24 00:00:00,2011-11-29 00:00:00,43,"[B014861216, AC49695265, A011552277, A03217224..."