In [1]:
from IO import IO

/home/jupyter/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [2]:
import pandas as pd

In [51]:
d = pd.read_pickle('records_inpatients.pickle')

In [53]:
d

,PatientID,SeqNo,InDate,Area,Type,ApplyDot,TotalDot,ICD9CM,HospSpecItem,AcuteBed,ChronicBed,TotalBed,TranTime,TranCode,PartDot,DayDot,OutDate,InAge,Drug
0,0007613eee440aa3145f09e1dfd0865b,0,1998-09-07,TaichungCity,1.0,211151,230151,"[410, 410, 413]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,0007613eee440aa3145f09e1dfd0865b,1,1999-01-14,TaichungCity,1.0,14515,16128,"[682, 785]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2,0007613eee440aa3145f09e1dfd0865b,2,1999-01-25,TaichungCity,0.0,50,325,[682],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3,0007613eee440aa3145f09e1dfd0865b,3,1999-01-27,TaichungCity,0.0,50,307,[682],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
4,0007613eee440aa3145f09e1dfd0865b,4,1999-01-28,TaichungCity,0.0,50,686,[682],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109097,a3e40da42bceda3fd5c7b9ea7e10dbb6,1,2013-09-14,NaN,2.0,14841,16490,"[59381, 42731, 4254, 2740]",1,5.0,0.0,5.0,1.0,3,1649.0,3298.0,2013-09-19,30.0,"[A040130100, AB367881G0, AC058131G0, AC058131G..."
4109098,a3e40da42bceda3fd5c7b9ea7e10dbb6,2,2013-12-10,NaN,2.0,1839,2043,"[4280, 4254, 59381, 42731]",1,1.0,0.0,1.0,1.0,5,204.0,2043.0,2013-12-10,30.0,NaN
4109099,a9f2ae6de2106c49cadf46aeeffb03d6,1,2013-10-15,NaN,2.0,25638,25638,"[4564, 27800, 4279]",1,2.0,0.0,2.0,1.0,3,0.0,12819.0,2013-10-17,48.0,"[A005874209, A022223100, A025485209, A04013010..."
4109100,4b577d2feb43ce56afc4f854b461b735,1,2013-11-25,NaN,2.0,31041,34490,"[5942, 5920, 5921, 591, 4280]",2,2.0,0.0,2.0,1.0,3,3449.0,17245.0,2013-11-27,37.0,"[A001085277, A005874209, AC058111G0, AC058111G..."
4109101,23d4793aa20a375d5490fdc1b45b2a7e,1,2013-11-27,NaN,2.0,43827,41966,"[2180, 2181, 4019]",1,4.0,0.0,4.0,1.0,3,4197.0,10491.5,2013-12-01,53.0,"[A002801277, A005891209, A009250500, A02680420..."

In [52]:
d = pd.concat([d[d['ID']=='015b8ac98a1019c00a3d16d2db53bb42'],d[d['ID']=='045e9bc49edc71780d8a280abe3bb985']]).reset_index(drop=True)

KeyError: 'ID'

In [49]:
d

                                 ID Gender      Birth      Death
0  015b8ac98a1019c00a3d16d2db53bb42      M 1937-06-01        NaT
1  045e9bc49edc71780d8a280abe3bb985      F 1924-10-01 2013-04-28

In [50]:
d.to_pickle('records_inpatients_single_patients.pickle')

In [3]:
a = IO()

In [4]:
a.load_data()

In [5]:
a._patients

                                    ID Gender      Birth      Death
0     0007613eee440aa3145f09e1dfd0865b      M 1968-07-01 2013-04-10
1     000ef5e1cc6b18c92c3da94886c205f2      M 1951-11-01        NaT
2     001561666d3f7af58205c452df1006a7      F 1950-09-01        NaT
3     001653b694bd769cca36d1181624f260      M 1966-06-01        NaT
4     001bb0fb0274b845fcf167f24548fa0b      F 1929-09-01 2013-04-29
...                                ...    ...        ...        ...
9980  ffe8f6a2b8b9b7a9da4a175e30534dc0      F 1933-05-01 2012-02-04
9981  fff2ecdf8a0234c105986a3b4a45ae5b      F 1932-11-01        NaT
9982  fff4368e1efbcb5223a980972093b0d9      M 1947-10-01 2010-08-09
9983  fffc746780c2e287bd0fac61d5528722      M 1939-06-01        NaT
9984  fffd2516e3115669a1b9319c813b62e0      M 1955-07-01        NaT

[9985 rows x 4 columns]

In [8]:
a._records

,PatientID,SeqNo,InDate,Area,Type,ApplyDot,TotalDot,ICD9CM,HospSpecItem,AcuteBed,ChronicBed,TotalBed,TranTime,TranCode,PartDot,DayDot,OutDate,InAge,Drug
0,0007613eee440aa3145f09e1dfd0865b,0,1998-09-07,TaichungCity,1.0,211151,230151,"[410, 410, 413]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,0007613eee440aa3145f09e1dfd0865b,1,1999-01-14,TaichungCity,1.0,14515,16128,"[682, 785]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2,0007613eee440aa3145f09e1dfd0865b,2,1999-01-25,TaichungCity,0.0,50,325,[682],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
3,0007613eee440aa3145f09e1dfd0865b,3,1999-01-27,TaichungCity,0.0,50,307,[682],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
4,0007613eee440aa3145f09e1dfd0865b,4,1999-01-28,TaichungCity,0.0,50,686,[682],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4109097,a3e40da42bceda3fd5c7b9ea7e10dbb6,1,2013-09-14,NaN,2.0,14841,16490,"[59381, 42731, 4254, 2740]",1,5.0,0.0,5.0,1.0,3,1649.0,3298.0,2013-09-19,30.0,"[A040130100, AB367881G0, AC058131G0, AC058131G..."
4109098,a3e40da42bceda3fd5c7b9ea7e10dbb6,2,2013-12-10,NaN,2.0,1839,2043,"[4280, 4254, 59381, 42731]",1,1.0,0.0,1.0,1.0,5,204.0,2043.0,2013-12-10,30.0,NaN
4109099,a9f2ae6de2106c49cadf46aeeffb03d6,1,2013-10-15,NaN,2.0,25638,25638,"[4564, 27800, 4279]",1,2.0,0.0,2.0,1.0,3,0.0,12819.0,2013-10-17,48.0,"[A005874209, A022223100, A025485209, A04013010..."
4109100,4b577d2feb43ce56afc4f854b461b735,1,2013-11-25,NaN,2.0,31041,34490,"[5942, 5920, 5921, 591, 4280]",2,2.0,0.0,2.0,1.0,3,3449.0,17245.0,2013-11-27,37.0,"[A001085277, A005874209, AC058111G0, AC058111G..."
4109101,23d4793aa20a375d5490fdc1b45b2a7e,1,2013-11-27,NaN,2.0,43827,41966,"[2180, 2181, 4019]",1,4.0,0.0,4.0,1.0,3,4197.0,10491.5,2013-12-01,53.0,"[A002801277, A005891209, A009250500, A02680420..."

In [11]:
df = a._records
df = df[df['Type']==2.0]

In [30]:
df = pd.merge(a._patients,df,left_on='ID',right_on='PatientID')

In [35]:
df[df['Gender']=='F'].iloc[200:250]

,ID,Gender,Birth,Death,PatientID,SeqNo,InDate,Area,Type,ApplyDot,...,AcuteBed,ChronicBed,TotalBed,TranTime,TranCode,PartDot,DayDot,OutDate,InAge,Drug
501,0427a8ee3ede18be25d75c1ee87acade,F,1950-02-01,NaT,0427a8ee3ede18be25d75c1ee87acade,9,2009-02-27,NaN,2.0,15646,...,6.0,0.0,6.0,1.0,3,1738.0,2897.333252,2009-03-05,59.0,"[A001085209, A001085209, A001085277, A00138650..."
502,0427a8ee3ede18be25d75c1ee87acade,F,1950-02-01,NaT,0427a8ee3ede18be25d75c1ee87acade,10,2010-02-03,NaN,2.0,6200,...,2.0,0.0,2.0,1.0,3,689.0,3444.500000,2010-02-05,60.0,"[B016039212, B016039212, N015737277, N01573727..."
503,0427a8ee3ede18be25d75c1ee87acade,F,1950-02-01,NaT,0427a8ee3ede18be25d75c1ee87acade,11,2010-03-26,NaN,2.0,40601,...,8.0,0.0,8.0,1.0,3,4511.0,5639.000000,2010-04-03,60.0,"[N016235277, N016235277, N015737277, N01573727..."
523,044454e5e2260693c39391399c6d92c6,F,1943-06-01,NaT,044454e5e2260693c39391399c6d92c6,1,2008-03-07,NaN,2.0,1333581,...,63.0,0.0,63.0,1.0,3,98879.0,22737.460938,2008-05-09,64.0,"[B021224229, B021645100, B021645100, B02164510..."
524,045c81435d58da85e503f4e8216f0083,F,1931-05-01,NaT,045c81435d58da85e503f4e8216f0083,1,2012-09-15,NaN,2.0,78526,...,10.0,0.0,10.0,1.0,3,10789.0,10788.599609,2012-09-25,81.0,"[A001085265, A001085277, A001085277, A00280127..."
525,045e9bc49edc71780d8a280abe3bb985,F,1924-10-01,2013-04-28,045e9bc49edc71780d8a280abe3bb985,1,2004-04-13,NaN,2.0,110619,...,13.0,0.0,13.0,1.0,3,12291.0,9454.615234,2004-04-26,79.0,"[A036014277, B020459100, N004463277, B02355610..."
526,045e9bc49edc71780d8a280abe3bb985,F,1924-10-01,2013-04-28,045e9bc49edc71780d8a280abe3bb985,2,2005-03-26,NaN,2.0,44602,...,0.0,11.0,11.0,1.0,3,2347.0,4268.090820,2005-04-06,80.0,"[A023521100, A025194157, A025194157, A02759810..."
527,045e9bc49edc71780d8a280abe3bb985,F,1924-10-01,2013-04-28,045e9bc49edc71780d8a280abe3bb985,3,2005-05-24,NaN,2.0,42868,...,13.0,0.0,13.0,1.0,3,4763.0,3663.923096,2005-06-06,80.0,"[A001085277, A003318100, A012081100, A01208110..."
528,045e9bc49edc71780d8a280abe3bb985,F,1924-10-01,2013-04-28,045e9bc49edc71780d8a280abe3bb985,4,2005-10-05,NaN,2.0,12269,...,6.0,0.0,6.0,1.0,3,1363.0,2272.000000,2005-10-11,81.0,"[A001085277, A012081100, A012081100, A02816010..."
529,045e9bc49edc71780d8a280abe3bb985,F,1924-10-01,2013-04-28,045e9bc49edc71780d8a280abe3bb985,5,2010-12-10,NaN,2.0,17538,...,8.0,0.0,8.0,1.0,3,1949.0,2435.875000,2010-12-18,86.0,"[A009250500, A010358100, A0141541G0, A0141541G..."
530,045e9bc49edc71780d8a280abe3bb985,F,1924-10-01,2013-04-28,045e9bc49edc71780d8a280abe3bb985,6,2011-02-08,NaN,2.0,36847,...,14.0,0.0,14.0,1.0,3,4094.0,2924.357178,2011-02-22,86.0,"[A0010471G0, A0010471G0, A0075431G0, A0075431G..."
531,045e9bc49edc71780d8a280abe3bb985,F,1924-10-01,2013-04-28,045e9bc49edc71780d8a280abe3bb985,7,2013-03-20,NaN,2.0,213713,...,15.0,13.0,28.0,1.0,3,21580.0,8403.321289,2013-04-17,88.0,"[A001085277, A001085277, A001085277, A00108527..."
532,045e9bc49edc71780d8a280abe3bb985,F,1924-10-01,2013-04-28,045e9bc49edc71780d8a280abe3bb985,8,2013-04-21,NaN,2.0,64224,...,6.0,0.0,6.0,1.0,5,7136.0,11893.333008,2013-04-27,88.0,"[A011150212, A011150212, A011150212, A01115021..."
580,04b13a422d0f81fb2f6117905d3fd978,F,1926-01-01,NaT,04b13a422d0f81fb2f6117905d3fd978,1,2000-09-30,NaN,2.0,8794,...,1.0,0.0,1.0,1.0,3,977.0,9771.000000,2000-10-01,74.0,"[B018096100, B011212100, A040042100, A03488610..."
581,04b13a422d0f81fb2f6117905d3fd978,F,1926-01-01,NaT,04b13a422d0f81fb2f6117905d3fd978,2,2011-07-04,NaN,2.0,27419,...,4.0,0.0,4.0,1.0,3,3047.0,7616.500000,2011-07-08,85.0,"[A0142383AN, A034880100, A034880100, A03488010..."
582,04b13a422d0f81fb2f6117905d3fd978,F,1926-01-01,NaT,04b13a422d0f81fb2f6117905d3fd978,3,2011-12-27,NaN,2.0,12263,...,1.0,0.0,1.0,1.0,5,1363.0,13626.000000,2011-12-28,85.0,"[A034880100, A046184100, A046184100, A04946910..."
628,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,1,2000-11-27,NaN,2.0,125126,...,7.0,0.0,7.0,1.0,3,12134.0,17334.857422,2000-12-04,71.0,"[B021976100, B013570212, B019855100, B01698721..."
629,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,2,2002-09-03,NaN,2.0,14867,...,4.0,0.0,4.0,1.0,3,1652.0,4129.750000,2002-09-07,73.0,"[B020452100, A037344100, B007152100, B02142110..."
630,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,3,2008-09-23,NaN,2.0,9773,...,1.0,0.0,1.0,1.0,3,1086.0,10859.000000,2008-09-24,79.0,"[K000663299, A015242100, A036485100]"
631,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,4,2008-09-24,NaN,2.0,112717,...,12.0,0.0,12.0,1.0,3,12524.0,10436.750000,2008-10-06,79.0,"[A001047100, A001047100, A001047100, A00108526..."
632,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,5,2008-12-14,NaN,2.0,52169,...,6.0,0.0,6.0,1.0,3,5797.0,9661.000000,2008-12-20,79.0,"[A042686100, A045752100, A046658100, A04665810..."
633,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,6,2010-06-05,NaN,2.0,22975,...,6.0,0.0,6.0,1.0,3,2553.0,4254.666504,2010-06-11,81.0,"[A0010471G0, A001085277, A001085277, A00586510..."
634,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,7,2010-11-29,NaN,2.0,20287,...,5.0,0.0,5.0,1.0,3,2254.0,4508.200195,2010-12-04,81.0,"[A0010471G0, A0010471G0, A001085277, A00108527..."
635,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,8,2010-12-22,NaN,2.0,15398,...,5.0,0.0,5.0,1.0,3,1711.0,3421.800049,2010-12-27,81.0,"[A0010471G0, A0010471G0, A0010471G0, A00108527..."
636,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,9,2011-04-11,NaN,2.0,8465,...,3.0,0.0,3.0,1.0,3,941.0,3135.333252,2011-04-14,82.0,"[B023518100, B023556100, B023960100, K00073920..."
637,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,10,2011-10-09,NaN,2.0,10067,...,3.0,0.0,3.0,1.0,3,1119.0,3728.666748,2011-10-12,82.0,"[A0010471G0, A0010471G0, A0010471G0, A00910210..."
638,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,11,2011-12-11,NaN,2.0,252911,...,21.0,0.0,21.0,1.0,3,0.0,12043.380859,2012-01-01,82.0,"[A0010471G0, A0010471G0, A001085209, A00108520..."
639,051fc206c52aef836c3a3f3771571add,F,1929-03-01,2012-02-20,051fc206c52aef836c3a3f3771571add,12,2012-01-05,NaN,2.0,455704,...,46.0,0.0,46.0,1.0,4,0.0,9906.608398,2012-02-20,82.0,"[A0010471G0, A001085209, A001085265, A00108526..."
689,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,1,2012-06-11,NaN,2.0,18038,...,5.0,0.0,5.0,1.0,3,2004.0,4008.399902,2012-06-16,79.0,"[A031213209, A031213209, A034159345, AC0355221..."
690,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,2,2012-08-14,NaN,2.0,168093,...,16.0,0.0,16.0,1.0,3,18677.0,11673.125000,2012-08-30,79.0,"[A001085277, A001085277, A005874209, A00587420..."
691,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,3,2012-09-06,NaN,2.0,96391,...,11.0,0.0,11.0,1.0,3,0.0,8762.818359,2012-09-17,79.0,"[A020707100, A023521100, AC18679209, AC1867920..."
692,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,4,2012-10-01,NaN,2.0,17636,...,6.0,0.0,6.0,1.0,3,0.0,2939.333252,2012-10-07,79.0,"[A0450311G0, A045993100, A045993100, AC1867920..."
693,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,5,2012-10-31,NaN,2.0,16864,...,2.0,0.0,2.0,1.0,3,0.0,8432.000000,2012-11-02,79.0,"[A005891209, A029343429, AC18679209, AC1867920..."
694,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,6,2012-11-24,NaN,2.0,25451,...,4.0,0.0,4.0,1.0,3,0.0,6362.750000,2012-11-28,79.0,"[A023521100, A023521100, A029343429, A04372624..."
695,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,7,2012-12-11,NaN,2.0,17641,...,2.0,0.0,2.0,1.0,3,0.0,8820.500000,2012-12-13,79.0,"[A020707100, A043726245, AC18679209, B02130426..."
696,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,8,2013-01-02,NaN,2.0,17439,...,6.0,0.0,6.0,1.0,3,0.0,2906.500000,2013-01-08,79.0,"[A020707100, A043726245, A045809421, AC1867920..."
697,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,9,2013-01-25,NaN,2.0,19077,...,6.0,0.0,6.0,1.0,3,0.0,3179.500000,2013-01-31,79.0,"[A043726245, A045809421, A045809421, AC1720415..."
698,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,10,2013-02-16,NaN,2.0,20064,...,7.0,0.0,7.0,1.0,3,0.0,2866.285645,2013-02-23,79.0,"[A020707100, A043726245, A045809421, AB367881G..."
699,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,11,2013-03-22,NaN,2.0,24788,...,6.0,0.0,6.0,1.0,3,0.0,4131.333496,2013-03-28,80.0,"[A020707100, A037598116, A037697100, A03769710..."
700,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,12,2013-04-14,NaN,2.0,173382,...,12.0,0.0,12.0,1.0,3,0.0,14448.500000,2013-04-26,80.0,"[A020707100, A045993100, A045993100, AC1867920..."
701,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,13,2013-07-01,NaN,2.0,52049,...,5.0,0.0,5.0,1.0,3,0.0,10409.799805,2013-07-06,80.0,"[A010784209, A010784209, A010784209, A02070710..."
702,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,14,2013-07-16,NaN,2.0,333059,...,34.0,0.0,34.0,1.0,3,0.0,9795.852539,2013-08-19,80.0,"[A005860100, A005860100, A005891209, A00589120..."
703,0571c3f62e83ef1fe65bbf79e491a146,F,1933-03-01,2013-09-27,0571c3f62e83ef1fe65bbf79e491a146,15,2013-09-09,NaN,2.0,111663,...,18.0,0.0,18.0,1.0,A,0.0,6203.500000,2013-09-27,80.0,"[A005891209, A020573229, A020707100, A02070710..."
727,05a5df8003582de7ec08fb715d8b04a0,F,1942-01-01,NaT,05a5df8003582de7ec08fb715d8b04a0,1,2013-11-26,NaN,2.0,177392,...,16.0,0.0,16.0,1.0,3,19710.0,12318.875000,2013-12-12,71.0,"[A003697417, A005889209, A020573229, A02057322..."
747,05f8b371db0aefff70ad7f0e59cb7867,F,1959-11-01,NaT,05f8b371db0aefff70ad7f0e59cb7867,1,2003-03-26,NaN,2.0,76820,...,13.0,0.0,13.0,1.0,3,8536.0,6565.846191,2003-04-08,43.0,"[N005342277, A030810209, K000682299, B01698721..."
748,05f8b371db0aefff70ad7f0e59cb7867,F,1959-11-01,NaT,05f8b371db0aefff70ad7f0e59cb7867,2,2004-12-14,NaN,2.0,12080,...,0.0,6.0,6.0,1.0,3,636.0,2119.333252,2004-12-20,45.0,"[A037697100, A037697100, A006271100, A02917210..."
749,05f8b371db0aefff70ad7f0e59cb7867,F,1959-11-01,NaT,05f8b371db0aefff70ad7f0e59cb7867,3,2007-09-09,NaN,2.0,56275,...,6.0,0.0,6.0,1.0,3,6253.0,10421.333008,2007-09-15,47.0,NaN
760,060d06ec58238a1bbc9c3ee6ed9a4d96,F,1930-08-01,NaT,060d06ec58238a1bbc9c3ee6ed9a4d96,1,1997-04-24,NaN,2.0,7440,...,5.0,0.0,5.0,1.0,3,827.0,1653.400024,1997-04-29,66.0,"[A027546100, N004905229, A027356221, A02713727..."
761,060d06ec58238a1bbc9c3ee6ed9a4d96,F,1930-08-01,NaT,060d06ec58238a1bbc9c3ee6ed9a4d96,2,2000-07-24,NaN,2.0,7702,...,2.0,0.0,2.0,1.0,3,856.0,4279.000000,2000-07-26,69.0,"[B007254100, A040429100, A037344100, B01897210..."
762,060d06ec58238a1bbc9c3ee6ed9a4d96,F,1930-08-01,NaT,060d06ec58238a1bbc9c3ee6ed9a4d96,3,2000-07-28,NaN,2.0,123927,...,15.0,0.0,15.0,1.0,3,13333.0,8888.533203,2000-08-12,69.0,"[A020455100, B018081100, N005347277, A02045510..."

In [36]:
a.set_patient_by_id('045e9bc49edc71780d8a280abe3bb985')

In [37]:
a.get_quickly_death_model_point()

0.45262268

In [38]:
a.get_patient_personal_data()

'{"0":{"id":"045e9bc49edc71780d8a280abe3bb985","gender":"F","birthdate":"10-01-1924"}}'