In [1]:
import pandas as pd

In [2]:
from FP_growth import FPTree

In [3]:
desease_sets = pd.read_pickle('disease_sets.pkl.zip')
desease_sets.head()

ID
0007613eee440aa3145f09e1dfd0865b    {892, 440, 584, 465, 466, 428, 726, 472, 410, ...
000ef5e1cc6b18c92c3da94886c205f2    {379, 117, 708, 465, 466, 272, 472, 410, 528, ...
001561666d3f7af58205c452df1006a7    {272, 477, 786, 681, 916, 574, 997, 366, 715, ...
001653b694bd769cca36d1181624f260    {465, 466, 272, 472, 410, 214, 786, 487, 477, ...
001bb0fb0274b845fcf167f24548fa0b    {293, 477, 487, 786, 916, 701, 446, 733, 989, ...
Name: ICD9CM, dtype: object

In [4]:
tree = FPTree()
tree.fit(desease_sets)

In [5]:
pattern = pd.DataFrame(tree.mine(), columns=('Pattern', 'Count'))
pattern

              Pattern  Count
0               [465]   9408
1               [466]   7892
2               [410]   9985
3               [533]   5546
4               [599]   5328
...               ...    ...
1862       [410, 463]   5225
1863  [410, 465, 463]   5124
1864       [465, 464]   5232
1865       [410, 464]   5335
1866  [410, 465, 464]   5232

[1867 rows x 2 columns]

In [6]:
pattern['Length'] = pattern['Pattern'].apply(len)
pattern

              Pattern  Count  Length
0               [465]   9408       1
1               [466]   7892       1
2               [410]   9985       1
3               [533]   5546       1
4               [599]   5328       1
...               ...    ...     ...
1862       [410, 463]   5225       2
1863  [410, 465, 463]   5124       3
1864       [465, 464]   5232       2
1865       [410, 464]   5335       2
1866  [410, 465, 464]   5232       3

[1867 rows x 3 columns]

In [7]:
desease_set = {'410', '465'}

In [8]:
match = pattern[pattern['Pattern'].apply(desease_set.issuperset)]

In [30]:
pattern = match.sort_values('Length', ascending=False).iloc[0]['Pattern']
pattern

['410', '465']

In [32]:
desease_sets[desease_sets.apply(lambda x: x.issuperset(pattern))].index

Index(['0007613eee440aa3145f09e1dfd0865b', '000ef5e1cc6b18c92c3da94886c205f2',
       '001561666d3f7af58205c452df1006a7', '001653b694bd769cca36d1181624f260',
       '001bb0fb0274b845fcf167f24548fa0b', '001d59e55b99b688ec83a938da76138c',
       '002119087b222fd6ac966d38b8c53f44', '002673983f6d46a275c4916ee017877b',
       '002b2cd6ed1d3adaf529a8b051801051', '0030e804d2d6bf93d1c14c1ef9bda1a1',
       ...
       'ffb259febd30f1190810c2b53db12e6e', 'ffc3bbc56aa726e2d7f2b3fe54c40aa6',
       'ffcca4e0901215decbc77f1e6f35c44e', 'ffe583ab0902ef37136d5ba0de37676b',
       'ffe5cfa4f4ca508d9ebfe19b2c99c8d7', 'ffe68a137f4433f7becae981ffabf908',
       'ffe8f6a2b8b9b7a9da4a175e30534dc0', 'fff2ecdf8a0234c105986a3b4a45ae5b',
       'fffc746780c2e287bd0fac61d5528722', 'fffd2516e3115669a1b9319c813b62e0'],
      dtype='object', name='ID', length=9408)